# required for batocera squashfs
CONFIG_NLS_ISO8859_1=y
CONFIG_OVERLAY_FS=y
CONFIG_SQUASHFS=y

# logo
# CONFIG_LOGO is not set

# Some flags taken from C2 Armbian 5.8.y

# DRM
CONFIG_DRM_MESON=m
CONFIG_DRM_MESON_DW_HDMI=m

# PHY
CONFIG_MESON_GXL_PHY=m

# Video decoder
CONFIG_VIDEO_MESON_VDEC=m

# MMC
CONFIG_MMC_MESON_GX=y

# EFUSE Support
CONFIG_MESON_EFUSE=y

# Watchdog
CONFIG_MESON_GXBB_WATCHDOG=m
CONFIG_MESON_WATCHDOG=m

# Audio
CONFIG_SND_MESON_AIU=m
CONFIG_SND_MESON_AXG_FIFO=m
CONFIG_SND_MESON_AXG_FRDDR=m
CONFIG_SND_MESON_AXG_TODDR=m
CONFIG_SND_MESON_AXG_TDM_FORMATTER=m
CONFIG_SND_MESON_AXG_TDM_INTERFACE=m
CONFIG_SND_MESON_AXG_TDMIN=m
CONFIG_SND_MESON_AXG_TDMOUT=m
CONFIG_SND_MESON_AXG_SOUND_CARD=m
CONFIG_SND_MESON_AXG_SPDIFOUT=m
CONFIG_SND_MESON_AXG_SPDIFIN=m
CONFIG_SND_MESON_AXG_PDM=m
CONFIG_SND_MESON_CARD_UTILS=m
CONFIG_SND_MESON_CODEC_GLUE=m
CONFIG_SND_MESON_GX_SOUND_CARD=m
CONFIG_SND_MESON_G12A_TOACODEC=m
CONFIG_SND_MESON_G12A_TOHDMITX=m
CONFIG_SND_SOC_MESON_T9015=m

# Thermal support
CONFIG_AMLOGIC_THERMAL=y

# Serial port
CONFIG_SERIAL_MESON=y
CONFIG_SERIAL_MESON_CONSOLE=y

# Various Amlogic drivers
CONFIG_MESON_CANVAS=m
CONFIG_MESON_CLK_MEASURE=y
CONFIG_MESON_GX_SOCINFO=y
CONFIG_MESON_GX_PM_DOMAINS=y
CONFIG_MESON_EE_PM_DOMAINS=y
CONFIG_MESON_SECURE_PM_DOMAINS=y
CONFIG_MESON_MX_SOCINFO=y
CONFIG_PINCTRL_MESON=y
CONFIG_PINCTRL_MESON_GXBB=y
