# ---------------------------------------------------------------
# udev rules for creating virtual gamepads from raw input devices
# ---------------------------------------------------------------

# 1. RAW DEVICES
SUBSYSTEM=="input", KERNEL=="event*", ACTION=="add", ATTRS{name}=="gpio-keys-control", ENV{ID_INPUT_JOYSTICK}="0", RUN+="/usr/bin/anbernic-gpio-pad-add %E{DEVNAME} %s{name}"
SUBSYSTEM=="input", KERNEL=="event*", ACTION=="add", ATTRS{name}=="gpio-keys-gamepad", ENV{ID_INPUT_JOYSTICK}="0", RUN+="/usr/bin/anbernic-gpio-pad-add %E{DEVNAME} %s{name}"
SUBSYSTEM=="input", KERNEL=="event*", ACTION=="add", ATTRS{name}=="adc-keys", ENV{ID_INPUT_JOYSTICK}="0", RUN+="/usr/bin/anbernic-gpio-pad-add %E{DEVNAME} %s{name}"
SUBSYSTEM=="input", KERNEL=="event*", ACTION=="add", ATTRS{name}=="adc-joystick", ENV{ID_INPUT_JOYSTICK}="0", RUN+="/usr/bin/anbernic-gpio-pad-add %E{DEVNAME} %s{name}"

# 2. VIRTUAL PADS
# virtual anbernic pad
SUBSYSTEM=="input", KERNEL=="event*", ACTION=="add", ATTRS{name}=="Anbernic pad", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1"
# virtual powkiddy pad
SUBSYSTEM=="input", KERNEL=="event*", ACTION=="add", ATTRS{name}=="Powkiddy pad", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1"
# virtual anbernic rg35xx analog pad
SUBSYSTEM=="input", KERNEL=="event*", ACTION=="add", ATTRS{name}=="Anbernic RG35XX analog pad", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1"
# virtual anbernic rg35xx button pad
SUBSYSTEM=="input", KERNEL=="event*", ACTION=="add", ATTRS{name}=="Anbernic RG35XX button pad", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1"
