#!/bin/bash
#
# Auto connect bluetooth controllers on boot
#

enabled="$(batocera-settings -command load -key controllers.bluetooth.enabled)"
if [ "$enabled" == "1" ]; then
curl --data "Connection Bluetooth" 127.0.0.1:1234/notify
batocera-bluetooth trust $1 &
wait 20 && exit 1
fi
