image boot.vfat {
        vfat {
                extraargs = "-F 32 -n BATOCERA"
		@files
        }

        # Setting the size to 1200M exposes the error (from genimage command line):
        # Total number of sectors (2457600) not a multiple of sectors per track (63)!
        #
        # Setting the size to 1201M exposes the error (from genimage command line):
        # Total number of sectors (2459648) not a multiple of sectors per track (63)!
        #
        # Note (1): It seems the error only shows up in Ubuntu 17.04, but not in 16.04
        # Note (2): The error message does not come from genimage nor mtools (likely from a library it links with)
        #
        # 1200M = 1200 x 1024 x 1024 bytes => 2457600 sectors => 512 bytes/sector => 39009.52 tracks
        #
        # So, the closest values to respect the 63 sectors/track constraints are 39009 and 39010:
        # 39009 tracks * 63 sector / track = 2457567 * 512 bytes / sector = 1258274304 bytes (16896 bytes under 1200M)
        # 39010 tracks * 63 sector / track = 2457630 * 512 bytes / sector = 1258306560 bytes (15360 bytes over 1200M)
        #
        # must be a multiple of 32 for the odroid xu4 ; i don't know why
        #
        # 81765 * 512 * 63 = 2637411840
        # 2637411840 / 1024 / 1024 = 2515 MiB
        size = 3G
}

image userdata.ext4 {
	ext4 {
		label = "SHARE"
		use-mke2fs = "true"
		extraargs = "-m 0"
	}
	size = "512M"
	# include files from TARGET_DIR/userdata
	mountpoint = "/userdata"
}

image batocera.img {
	hdimage {
		align = "1M"
	}

	partition part_idbloader {
		in-partition-table = "no"
		image = "../../idbloader.img"
		offset = 32K
	}

	partition part_uboot {
		in-partition-table = "no"
		image = "../../uboot.img"
		offset = 8M
	}

	partition part_trust {
		in-partition-table = "no"
		image = "../../trust.img"
		offset = 12M
	}

	partition vfat {
		partition-type = 0xC
		image = "boot.vfat"
		offset = 16M
	}

	partition userdata {
		partition-type = 0x83
		image = "userdata.ext4"
	}
}
