# need controllers.samco-gun=1 in batocera.conf to enable it as a gun
SUBSYSTEM=="input", KERNEL=="event*", ACTION=="add", ATTRS{name}=="Arduino LLC Arduino Leonardo", PROGRAM="/usr/bin/batocera-settings-get controllers.samco-gun", ENV{ID_INPUT_GUN}="%c"
SUBSYSTEM=="input", KERNEL=="event*", ACTION=="add", ATTRS{name}=="Adafruit ItsyBitsy 32u4 3V 8MHz", ENV{ID_INPUT_GUN}="1"
