# Rules for USBmount -*- conf -*-

KERNEL=="sd*",     DRIVERS=="sbp2",    ACTION=="add",    RUN+="/usr/bin/batocera-usbmount add"
KERNEL=="sd*",     SUBSYSTEM=="block", ACTION=="add",    RUN+="/usr/bin/batocera-usbmount add"
KERNEL=="ub*",     SUBSYSTEM=="block", ACTION=="add",    RUN+="/usr/bin/batocera-usbmount add"
KERNEL=="mmcblk*", SUBSYSTEM=="block", ACTION=="add",    RUN+="/usr/bin/batocera-usbmount add"
KERNEL=="sd*",                         ACTION=="remove", RUN+="/usr/bin/batocera-usbmount remove"
KERNEL=="ub*",                         ACTION=="remove", RUN+="/usr/bin/batocera-usbmount remove"
KERNEL=="mmcblk*",                     ACTION=="remove", RUN+="/usr/bin/batocera-usbmount remove"
