/output
/dl
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
*.DS_Store
*._.DS_Store
.config
Thumbs.db
authorized_keys
libretro-mame-tiny
/buildroot-ccache
/.ba-docker-image-available
*.code-workspace
