/output
/dl
/configs/batocera-*_defconfig
/configs/batocera-board.local.common
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*.pyc
*.DS_Store
*._.DS_Store
.config
Thumbs.db
authorized_keys
libretro-mame-tiny
/buildroot-ccache
/.ba-docker-image-available
*.code-workspace
batocera.mk
.vscode/*
make.log
package/batocera/emulationstation/batocera-emulationstation/keys.txt
.directory
*.po~
batocera-mok.key
.venv*
