# required for batocera squashfs
CONFIG_NLS_ISO8859_1=y
CONFIG_OVERLAY_FS=y
CONFIG_SQUASHFS=y
CONFIG_CHR_DEV_SG=m

# logo
# CONFIG_LOGO is not set

# required for evmapy
CONFIG_INPUT_UINPUT=y

# smb/cifs
CONFIG_CIFS=m
CONFIG_CIFS_STATS=y
# CONFIG_CIFS_STATS2 is not set
CONFIG_CIFS_WEAK_PW_HASH=y
CONFIG_CIFS_UPCALL=y
CONFIG_CIFS_XATTR=y
CONFIG_CIFS_POSIX=y
CONFIG_CIFS_ACL=y
CONFIG_CIFS_DEBUG=y
# CONFIG_CIFS_DEBUG2 is not set
# CONFIG_CIFS_DEBUG_DUMP_KEYS is not set
CONFIG_CIFS_DFS_UPCALL=y
CONFIG_CIFS_SMB2=y
CONFIG_CIFS_SMB311=y
# CONFIG_CIFS_SMB_DIRECT is not set

# To control the GPU performance
CONFIG_MALI_MIDGARD_DVFS=y
