# required for batocera squashfs
CONFIG_NLS_ISO8859_1=y
CONFIG_OVERLAY_FS=y
CONFIG_SQUASHFS=y
CONFIG_CHR_DEV_SG=m

# logo
# CONFIG_LOGO is not set

# required for evmapy
CONFIG_INPUT_UINPUT=y

# smb/cifs
CONFIG_CIFS=m
CONFIG_CIFS_STATS=y
# CONFIG_CIFS_STATS2 is not set
CONFIG_CIFS_WEAK_PW_HASH=y
CONFIG_CIFS_UPCALL=y
CONFIG_CIFS_XATTR=y
CONFIG_CIFS_POSIX=y
CONFIG_CIFS_ACL=y
CONFIG_CIFS_DEBUG=y
# CONFIG_CIFS_DEBUG2 is not set
# CONFIG_CIFS_DEBUG_DUMP_KEYS is not set
CONFIG_CIFS_DFS_UPCALL=y
CONFIG_CIFS_SMB2=y
CONFIG_CIFS_SMB311=y
# CONFIG_CIFS_SMB_DIRECT is not set

CONFIG_EXFAT_FS=y
# To control the GPU performance
CONFIG_MALI_MIDGARD_DVFS=y

# Normally part of Initramfs kernel modules
# but also shows what is overridden over a clean default config file
CONFIG_AMLOGIC_ADC=y
CONFIG_AMLOGIC_AMLOGIC_THERMAL=y
CONFIG_AMLOGIC_COMMON_CLK=y
CONFIG_AMLOGIC_COMMON_CLK_T7=y
CONFIG_AMLOGIC_CPU_INFO=y
CONFIG_AMLOGIC_DEBUG=y
CONFIG_AMLOGIC_DEBUG_IOTRACE=y
CONFIG_AMLOGIC_DOS_RESET_MESON=y
CONFIG_AMLOGIC_EFUSE_UNIFYKEY=y
CONFIG_AMLOGIC_FAKE_SMMU=y
CONFIG_AMLOGIC_GKI_TOOL=y
CONFIG_AMLOGIC_GPIO=y
CONFIG_AMLOGIC_GX_REBOOT=y
CONFIG_AMLOGIC_HOST_DRIVER=y
CONFIG_AMLOGIC_HWSPINLOCK=y
CONFIG_AMLOGIC_HW_RANDOM_MESON=y
CONFIG_AMLOGIC_I2C_MESON=y
CONFIG_AMLOGIC_LED=y
CONFIG_AMLOGIC_MEMORY_DEBUG=y
CONFIG_AMLOGIC_MESON_CPUFREQ=y
CONFIG_AMLOGIC_MHU_MBOX=y
CONFIG_AMLOGIC_MMC_CQHCI=y
CONFIG_AMLOGIC_MMC_MESON_GX=y
CONFIG_AMLOGIC_PCIE_V2_HOST=y
CONFIG_AMLOGIC_PINCTRL_MESON_T7=y
CONFIG_AMLOGIC_PM=y
CONFIG_AMLOGIC_POWER=y
CONFIG_AMLOGIC_PWM=y
CONFIG_AMLOGIC_RESET_MESON=y
CONFIG_AMLOGIC_RTC=y
CONFIG_AMLOGIC_SECMON=y
CONFIG_AMLOGIC_SOC_INFO=y
CONFIG_AMLOGIC_SPI=y
CONFIG_AMLOGIC_USB_SUPPORT=y
CONFIG_AMLOGIC_USER_FAULT=y
CONFIG_HWMON=y
CONFIG_KHADAS_MCU=y
CONFIG_MMC_CQHCI=y
CONFIG_REGULATOR_GPIO=y
CONFIG_REGULATOR_PWM=y

# TODO: Disable more unused modules
# CONFIG_EFI is not set
# CONFIG_IGB is not set
# CONFIG_IXGB is not set
# CONFIG_IXGBE is not set
# CONFIG_INPUT_TOUCHSCREEN is not set
# CONFIG_AMLOGIC_DTV_DEMOD is not set
# CONFIG_AMLOGIC_ATV_DEMOD is not set
# CONFIG_MEDIA_USB_SUPPORT is not set
