# required for batocera squashfs
CONFIG_NLS_ISO8859_1=y
CONFIG_OVERLAY_FS=y
CONFIG_SQUASHFS=y

# logo
# CONFIG_LOGO is not set

# required for evmapy
CONFIG_INPUT_UINPUT=y

# additional realtek wifi
CONFIG_RTW88_8822BE=m
CONFIG_RTW88_8822CE=m
CONFIG_RTW88_8723DE=m

# additional mediatek wifi
CONFIG_MT7663U=m
CONFIG_MT7915E=m
