SUBSYSTEM=="input", ACTION=="add", KERNEL=="event*", ATTRS{name}=="Atari Classic Controller", MODE="0666", ENV{ID_INPUT_JOYSTICK}="0" RUN+="/usr/bin/setsid -f /usr/bin/batocera-spinner-calibrator -d $env{DEVNAME}"
SUBSYSTEM=="input", ACTION=="add", KERNEL=="event*", ATTRS{name}=="Classic Controller", MODE="0666", ENV{ID_INPUT_JOYSTICK}="0" RUN+="/usr/bin/setsid -f /usr/bin/batocera-spinner-calibrator -d $env{DEVNAME}"
SUBSYSTEM=="input", ACTION=="add", KERNEL=="event*", ATTRS{name}=="virtual spinner", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1"
