# Trackballs
KERNEL=="event*", SUBSYSTEM=="input", ATTRS{name}=="Ultimar Opti-PAC Trackball/Spinner Interface", MODE="0666", ENV{ID_INPUT_MOUSE}="1", ENV{ID_INPUT_TRACKBALL}="1"

# Spinners
KERNEL=="event*", SUBSYSTEM=="input", ATTRS{name}=="GGG TurboTwist Spinner", MODE="0666", ENV{ID_INPUT_MOUSE}="1", ENV{ID_INPUT_SPINNER}="1"

# Combo (spinner + trackball)
KERNEL=="event*", SUBSYSTEM=="input", ATTRS{name}=="TAITO USB Paddle & Trackball Controller", MODE="0666", ENV{ID_INPUT_keyboard}="0", ENV{ID_INPUT_MOUSE}="1", ENV{ID_INPUT_TRACKBALL}="1", ENV{ID_INPUT_SPINNER}="1", ENV{TRACKBALL_MULTIPLIER}="5", ENV{SPINNER_MULTIPLIER}="2", RUN+="/usr/bin/evsieve --input $env{DEVNAME} grab --map yield key:%300 key:up --map yield key:%301 key:down --block"
KERNEL=="event*", SUBSYSTEM=="input", ATTRS{name}=="Baolian industry Co., Ltd. TS-SPTB-COMBO", MODE="0666", ENV{ID_INPUT_MOUSE}="1", ENV{ID_INPUT_TRACKBALL}="1", ENV{ID_INPUT_SPINNER}="1"
KERNEL=="event*", SUBSYSTEM=="input", ATTRS{idVendor}=="0838", ATTRS{idProduct}=="8918", MODE="0666", ENV{ID_INPUT_MOUSE}="1", ENV{ID_INPUT_TRACKBALL}="1", ENV{ID_INPUT_SPINNER}="1", ENV{TRACKBALL_MULTIPLIER}="4", ENV{SPINNER_MULTIPLIER}="4"

# Push-pull spinner
KERNEL=="event*", SUBSYSTEM=="input", ATTRS{name}=="Baolian industry Co., Ltd. TS-DOT-02", MODE="0666", ENV{ID_INPUT_MOUSE}="1", ENV{ID_INPUT_SPINNER}="1", RUN+="/usr/bin/evsieve --input $env{DEVNAME} grab --map yield btn:left key:up --map yield btn:right key:down --block"
