# filter on ID_INPUT_KEYBOARD, cause the mouse and the leds have the same name/vid/pid...
#
# "Ultimarc Mini-PAC" 		    : Xtention 2 players
# "Ultimarc I-PAC 4"  		    : Xtention 4 players (susan34) / (misterb)
# "Ultimarc I-PAC 2"                : (twisted)
# "Ultimarc IPAC 2 Ultimarc IPAC 2" : (dandc)
# "Ultimarc I-PAC Ultimate I/O"     : (s3nt3nza)
SUBSYSTEM=="input", KERNEL=="event*", ACTION=="add", ATTRS{name}=="Ultimarc*PAC*", ENV{ID_INPUT_KEYBOARD}=="1",  ENV{ID_INPUT_KEYBOARD}="0", ENV{ID_INPUT_KEY}="0", ENV{ID_INPUT_KEYBOARDTOPADS}="1", RUN+="/usr/bin/keyboardToPadsLauncher $env{DEVNAME} run"
SUBSYSTEM=="input", KERNEL=="event*", ACTION=="add", ATTRS{name}=="XGaming*X-Arcade*", ATTRS{phys}=="*/input0", ENV{ID_INPUT_KEYBOARD}=="1",  ENV{ID_INPUT_KEYBOARD}="0", ENV{ID_INPUT_KEY}="0", ENV{ID_INPUT_KEYBOARDTOPADS}="1", RUN+="/usr/bin/keyboardToPadsLauncher $env{DEVNAME} run"
