// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2024 Romain Tisserand (https://github.com/rtissera)
 * Copyright (c) 2024 r3claimer (https://github.com/r3claimer)
 * Copyright (c) 2024 Juliano Dorigão (https://github.com/jdorigao)
 *
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/display/rockchip_vop.h>
#include <dt-bindings/sensor-dev.h>
#include "rockchip/rk3588s.dtsi"
#include "rockchip/rk3588-linux.dtsi"
#include "rockchip/rk3588-rk806-single.dtsi"
#include "rockchip/lcd-hx8399c_mipi.dtsi"

/ {
	model = "GameForce ACE";
	compatible = "gameforce,ace", "rockchip,rk3588";

	adc_keys: adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		vol-up-key {
			label = "volume up";
			linux,code = <KEY_VOLUMEUP>;
			press-threshold-microvolt = <17000>;
		};

		vol-down-key {
			label = "volume down";
			linux,code = <KEY_VOLUMEDOWN>;
			press-threshold-microvolt = <417000>;
		};
	};

	joypad: gameforce-ace-joypad {
		compatible = "gameforce-joypad";
		poll-interval = <10>;
		status = "okay";

		joypad-name = "GameForce ACE Gamepad";
		joypad-product = <0x1000>;
		joypad-revision = <0x0100>;

		/* Analog sticks */
		io-channels = <&saradc 2>, <&saradc 3>, <&saradc 4>, <&saradc 5>, <&ti_adc 6>, <&ti_adc 7>;
		io-channel-names = "key-RY", "key-RX", "key-X", "key-Y", "key-Z", "key-RZ";
		button-adc-scale = <4>;
		button-adc-deadzone = <125>;
		button-adc-fuzz = <32>;
		button-adc-flat = <32>;
		abs_x-p-tuning = <350>;
		abs_x-n-tuning = <350>;
		abs_y-p-tuning = <350>;
		abs_y-n-tuning = <350>;
		abs_z-p-tuning = <350>;
		abs_z-n-tuning = <350>;
		abs_rx-p-tuning = <350>;
		abs_rx-n-tuning = <350>;
		abs_ry-p-tuning = <350>;
		abs_ry-n-tuning = <350>;
		abs_rz-p-tuning = <350>;
		abs_rz-n-tuning = <350>;

		/* Buttons */
		sw1 {
			gpios = <&gpio1 RK_PA0 0x01>;
			label = "GPIO Key MODE";
			linux,code = <BTN_MODE>;
		};
		sw2 {
			gpios = <&gpio1 RK_PB0 0x01>;
			label = "GPIO Key HOME";
			linux,code = <BTN_C>;
		};
		sw3 {
			gpios = <&gpio1 RK_PB6 0x01>;
			label = "GPIO Key START";
			linux,code = <BTN_START>;
		};
		sw4 {
			gpios = <&gpio1 RK_PA3 0x01>;
			label = "GPIO Key SELECT";
			linux,code = <BTN_SELECT>;
		};
		sw5 {
			gpios = <&gpio1 RK_PA2 0x01>;
			label = "GPIO Key Up";
			linux,code = <BTN_DPAD_UP>;
		};
		sw6 {
			gpios =  <&gpio1 RK_PB1 0x01>;
			label = "GPIO Key Down";
			linux,code = <BTN_DPAD_DOWN>;
		};
		sw7 {
			gpios = <&gpio1 RK_PD7 0x01>;
			label = "GPIO Key Left";
			linux,code = <BTN_DPAD_LEFT>;
		};
		sw8 {
			gpios = <&gpio1 RK_PB7 0x01>;
			label = "GPIO Key Right";
			linux,code = <BTN_DPAD_RIGHT>;
		};
		sw9 {
			gpios = <&gpio1 RK_PB4 0x01>;
			label = "GPIO Key X";
			linux,code = <BTN_NORTH>;
		};
		sw10 {
			gpios = <&gpio1 RK_PB3 0x01>;
			label = "GPIO Key Y";
			linux,code = <BTN_WEST>;
		};
		sw11 {
			gpios = <&gpio1 RK_PC6 0x01>;
			label = "GPIO Key B";
			linux,code = <BTN_EAST>;
		};
		sw12 {
			gpios = <&gpio1 RK_PA5 0x01>;
			label = "GPIO Key A";
			linux,code = <BTN_SOUTH>;
		};
		sw13 {
			gpios = <&gpio1 RK_PA4 0x01>;
			label = "GPIO Key THU";
			linux,code = <BTN_THUMBL>;
		};
		sw14 {
			gpios = <&gpio1 RK_PB5 0x01>;
			label = "GPIO Key TL";
			linux,code = <BTN_TL>;
		};
		sw15 {
			gpios = <&gpio1 RK_PB2 0x01>;
			label = "GPIO Key TR";
			linux,code = <BTN_TR>;
		};
		sw16 {
			gpios = <&gpio1 RK_PD6 0x01>;
			label = "GPIO Key THUMBR";
			linux,code = <BTN_THUMBR>;
		};
	};

	leds: gpio-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 =<&leds_rgb>;
		status = "okay";

		red_led@1 {
			gpios = <&gpio3 RK_PC2 GPIO_ACTIVE_HIGH>;
			label = "red_led";
			linux,default-trigger = "cw2015-battery-charging";
			linux,default-trigger-delay-ms = <0>;
		};

		green_led@2 {
			gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>;
			label = "green_led";
			linux,default-trigger = "cw2015-battery-full";
			linux,default-trigger-delay-ms = <0>;
		};
	};

	fan: pwm-fan {
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		pwms = <&pwm12 0 50000 1>;
		cooling-levels = <0 100 150 200 255>;
		rockchip,temp-trips = <
			40000	1
			55000	2
			60000	3
			70000	4
		>;
		status = "okay";
	};

	vibrator {
		compatible = "rk-vibrator-gpio";
		vibrator-gpio = <&gpio4 RK_PA4 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	hdmi0_sound: hdmi0-sound {
		status = "disabled";
		compatible = "rockchip,hdmi";
		rockchip,mclk-fs = <128>;
		rockchip,card-name = "rockchip-hdmi0";
		rockchip,cpu = <&i2s5_8ch>;
		rockchip,codec = <&hdmi0>;
		rockchip,jack-det;
	};

	dp0_sound: dp0-sound {
		status = "disabled";
		compatible = "rockchip,hdmi";
		rockchip,card-name= "rockchip-dp0";
		rockchip,mclk-fs = <512>;
		rockchip,cpu = <&spdif_tx2>;
		rockchip,codec = <&dp0 1>;
		rockchip,jack-det;
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm13 0 25000 1>;
		brightness-levels = <
			 0   1   2   3   4   5   6   7
			 8   9  10  11  12  13  14  15
			16  17  18  19  20  21  22  23
			24  25  26  27  28  29  30  31
			32  33  34  35  36  37  38  39
			40  41  42  43  44  45  46  47
			48  49  50  51  52  53  54  55
			56  57  58  59  60  61  62  63
			64  65  66  67  68  69  70  71
			72  73  74  75  76  77  78  79
			80  81  82  83  84  85  86  87
			88  89  90  91  92  93  94  95
			96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255>;
		default-brightness-level = <200>;
		enable-gpios = <&gpio3 RK_PC0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_bl_en>;

	};

	charge-animation {
		compatible = "rockchip,uboot-charge";
		rockchip,uboot-charge-on = <0>;
		rockchip,android-charge-on = <1>;
		rockchip,uboot-low-power-voltage = <6800>;
		rockchip,screen-on-voltage = <6900>;
		rockchip,uboot-exit-charge-level = <2>;
		rockchip,uboot-exit-charge-auto = <0>;
		rockchip,system-suspend = <1>;
		regulator-on-in-mem = <&vdd_log_s0>, <&vcc_2v0_pldo_s3>,
			<&vdd2_ddr_s3>, <&vcc_1v8_s3>, <&avcc_1v8_s0>,
			<&vcc_1v8_s0>, <&vdd_0v75_s3>, <&pldo6_s3>,
			<&vcc_3v3_s3>;

		regulator-off-in-mem = <&vdd_gpu_s0>, <&vdd_npu_s0>,
			<&vdd_vdenc_s0>, <&vdd_gpu_mem_s0>, <&vdd_npu_mem_s0>,
			<&vdd_vdenc_mem_s0>, <&vcc_3v3_s0>,
			<&vccio_sd_s0>, <&avdd_0v75_s0>, <&vdd_0v85_s0>,
			<&vdd_cpu_big1_s0>, <&vdd_cpu_big0_s0>, <&vdd_cpu_lit_s0>,
			<&vdd_cpu_big1_mem_s0>, <&vdd_cpu_big0_mem_s0>, <&vdd_cpu_lit_mem_s0>,
			<&vddq_ddr_s0>, <&vdd_ddr_s0>, <&vdd_ddr_pll_s0>,
			<&avdd_1v2_s0>, <&vdd_0v75_s0>;
		status = "okay";
	};

	es8388_sound: es8388-sound {
		status = "okay";
		compatible = "rockchip,multicodecs-card","everest,es8388";
		rockchip,card-name = "rockchip,es8388-codec";
		hp-det-gpio = <&gpio3 RK_PA6 GPIO_ACTIVE_LOW>;
		io-channels = <&saradc 3>;
		io-channel-names = "adc-detect";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;
		spk-con-gpio = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;
		hp-con-gpio = <&gpio0 RK_PD4 GPIO_ACTIVE_HIGH>;
		rockchip,format = "i2s";
		rockchip,mclk-fs = <256>;
		rockchip,cpu = <&i2s0_8ch>;
		rockchip,codec = <&es8388>;
		spk-volume = <50>;
		spk-volume-l = <50>;
		spk-volume-r = <50>;
        use-ext-amplifier;
		hp-volume = <20>;
		out-l2spk-r2hp;

		rockchip,audio-routing =
			"Headphone", "LOUT1",
			"Headphone", "ROUT1",
			"Speaker", "LOUT2",
			"Speaker", "ROUT2",
			"Headphone", "Headphone Power",
			"Headphone", "Headphone Power",
			"Speaker", "Speaker Power",
			"Speaker", "Speaker Power",
			"LINPUT1", "Main Mic",
			"LINPUT2", "Main Mic",
			"RINPUT1", "Headset Mic",
			"RINPUT2", "Headset Mic";

		pinctrl-names = "default";
		pinctrl-0 = <&hp_det>;
		play-pause-key {
			label = "playpause";
			linux,code = <KEY_PLAYPAUSE>;
			press-threshold-microvolt = <2000>;
		};
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&hym8563>;
		clock-names = "ext_clock";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h>;
		/*
		 * On the module itself this is one of these (depending
		 * on the actual card populated):
		 * - SDIO_RESET_L_WL_REG_ON
		 * - PDN (power down when low)
		 */
		reset-gpios = <&gpio3 RK_PB4 GPIO_ACTIVE_LOW>;
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc5v0_usb: vcc5v0-usb {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usb";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_1v1_nldo_s3: vcc-1v1-nldo-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v1_nldo_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1100000>;
		regulator-max-microvolt = <1100000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_3v3_sd_s0: vcc-3v3-sd-s0-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd_s0_pwr>;
		regulator-always-on;
		regulator-max-microvolt = <3000000>;
		regulator-min-microvolt = <3000000>;
		regulator-name = "vcc_3v3_sd_s0";
		vin-supply = <&vcc_3v3_s3>;
	};

	vcc5v0_host: vcc5v0-host {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		// gpio = <&gpio4 RK_PB5 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_usb>;
		// pinctrl-names = "default";
		// pinctrl-0 = <&vcc5v0_host_en>;
	};

	vcc5v0_spk: vcc5v0-spk {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_spk";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc3v3_lcd0_n: vcc3v3-lcd0-n {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_lcd0_n";
		regulator-boot-on;
		enable-active-high;
		gpio = <&gpio4 RK_PA7 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc_3v3_s3>;
	};

	pa_5v: pa-5v {
		compatible = "regulator-fixed";
		regulator-name = "pa_5v";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_spk>;
		pinctrl-names = "default";
		pinctrl-0 = <&pa_5v_en>;
	};

	// vcc_mipidcphy: vcc-mipidcphy-regulator {
	// 	compatible = "regulator-fixed";
	// 	gpio = <&gpio1 RK_PA4 GPIO_ACTIVE_HIGH>;
	// 	pinctrl-names = "default";
	// 	pinctrl-0 = <&mipidcphy_pwr>;
	// 	regulator-name = "vcc_mipidcphy";
	// 	enable-active-high;
	// 	regulator-boot-on;
	// 	vin-supply = <&vcc_3v3_s3>;
	// 	status = "okay";
	// };

	wireless_bluetooth: wireless-bluetooth {
		compatible = "bluetooth-platdata";
		clocks = <&hym8563>;
		clock-names = "ext_clock";
		uart_rts_gpios = <&gpio3 RK_PD2 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart9m2_rtsn>, <&bt_reset_gpio>, <&bt_wake_gpio>, <&bt_wake_host_irq>;
		pinctrl-1 = <&uart9_gpios>;
		BT,reset_gpio    = <&gpio3 RK_PB7 GPIO_ACTIVE_HIGH>;
		BT,wake_gpio     = <&gpio3 RK_PB1 GPIO_ACTIVE_HIGH>;
		BT,wake_host_irq = <&gpio3 RK_PB0 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	wireless_wlan: wireless-wlan {
		compatible = "wlan-platdata";
		wifi_chip_type = "ap6256";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_host_wake_irq>;
		WIFI,poweren_gpio = <&gpio3 RK_PB4 GPIO_ACTIVE_HIGH>;
		WIFI,host_wake_irq = <&gpio0 RK_PA0 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&av1d_mmu {
	status = "okay";
};

&combphy0_ps {
	status = "okay";
};

&cpu_l0 {
	cpu-supply = <&vdd_cpu_lit_s0>;
	mem-supply = <&vdd_cpu_lit_mem_s0>;
};

&cpu_b0 {
	cpu-supply = <&vdd_cpu_big0_s0>;
	mem-supply = <&vdd_cpu_big0_mem_s0>;
};

&cpu_b2 {
	cpu-supply = <&vdd_cpu_big1_s0>;
	mem-supply = <&vdd_cpu_big1_mem_s0>;
};

&hdmi0 {
    enable-gpios = <&gpio4 RK_PB3 GPIO_ACTIVE_HIGH>;
    status = "disabled";
};

&hdmi0_in_vp0 {
    status = "disabled";
};

&hdmi0_sound {
    status = "disabled";
};

&hdptxphy_hdmi0 {
    status = "disabled";
};

&route_hdmi0 {
    status = "disabled";
    connect = <&vp0_out_hdmi0>;
};

&spdif_tx2{
    status = "okay";
};

&dp0_sound{
    status = "disabled";
};

&dp0 {
    status = "okay";
};

&dp0_in_vp1 {
    status = "okay";
};

&dsi0 {
	status = "okay";
};

&dsi0_in_vp3 {
	status = "okay";
};

&route_dsi0 {
	status = "okay";
};

&dsi0_panel {
	power-supply = <&vcc3v3_lcd0_n>;
	reset-gpios = <&gpio1 RK_PD5 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	pinctrl-0 = <&lcd_rst_gpio>;
};

&pcie2x1l1 {
	reset-gpios = <&gpio3 RK_PD1 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&combphy2_psu {
        status = "okay";
};

&csi2_dphy0_hw {
	status = "disabled";
};

&csi2_dcphy0 {
	status = "disabled";
};

&mipi0_csi2 {
	status = "disabled";
};

&rkcif_mipi_lvds {
	status = "disabled";
};

&rkcif_mipi_lvds_sditf {
	status = "disabled";
};

&rkisp0_vir0 {
	status = "disabled";
};

&csi2_dcphy1 {
	status = "disabled";
};

&mipi1_csi2{
	status = "disabled";
};

&rkcif_mipi_lvds1 {
	status = "disabled";
};

&rkcif_mipi_lvds1_sditf {
	status = "disabled";
};


&rkisp0_vir1 {
	status = "disabled";
};

&csi2_dphy0 {
	status = "disabled";
};

&mipi2_csi2 {
	status = "disabled";
};

&rkcif_mipi_lvds2 {
	status = "disabled";
};

&rkcif_mipi_lvds2_sditf {
	status = "disabled";
};

&rkisp1_vir1 {
	status = "disabled";
};

&rkcif {
	status = "okay";
};

&rkcif_mmu {
	status = "okay";
};

&rkisp0 {
	status = "okay";
};

&rkisp1 {
	status = "okay";
};

&isp0_mmu {
	status = "okay";
};

&isp1_mmu {
	status = "okay";
};

&dp0 {
	status = "okay";

};
&dp0_in_vp1 {
	status = "okay";
};

&gpu {
	mali-supply = <&vdd_gpu_s0>;
	mem-supply = <&vdd_gpu_mem_s0>;
	upthreshold = <60>;
	downdifferential = <30>;
	status = "okay";
};

&hdptxphy0 {
	/* Single Vdiff Training Table for power reduction (optional) */
	training-table = /bits/ 8 <
		/* voltage swing 0, pre-emphasis 0->3 */
		0x0d 0x00 0x00 0x00 0x00 0x00
		0x0d 0x00 0x00 0x00 0x00 0x00
		0x0d 0x00 0x00 0x00 0x00 0x00
		0x0d 0x00 0x00 0x00 0x00 0x00
		/* voltage swing 1, pre-emphasis 0->2 */
		0x0d 0x00 0x00 0x00 0x00 0x00
		0x0d 0x00 0x00 0x00 0x00 0x00
		0x0d 0x00 0x00 0x00 0x00 0x00
		/* voltage swing 2, pre-emphasis 0->1 */
		0x0d 0x00 0x00 0x00 0x00 0x00
		0x0d 0x00 0x00 0x00 0x00 0x00
		/* voltage swing 3, pre-emphasis 0 */
		0x0d 0x00 0x00 0x00 0x00 0x00
	>;
	status = "disabled";
};

&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0m2_xfer>;

	vdd_cpu_big0_s0: vdd_cpu_big0_mem_s0: rk8602@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_cpu_big0_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <1050000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	vdd_cpu_big1_s0: vdd_cpu_big1_mem_s0: rk8603@43 {
		compatible = "rockchip,rk8603";
		reg = <0x43>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_cpu_big1_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <1050000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&i2c2 {
	status = "okay";

	vdd_npu_s0: vdd_npu_mem_s0: rk8602@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_npu_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <950000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3m0_xfer>;
	status = "okay";

    gt9xx: touchscreen@14 {
		compatible = "goodix,gt911";
		reg = <0x14>;
		interrupt-parent = <&gpio1>;
		interrupts = <RK_PA6 IRQ_TYPE_LEVEL_LOW>;
		irq-gpios = <&gpio1 RK_PA6 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio1 RK_PA7 GPIO_ACTIVE_HIGH>;
		touchscreen-size-x = <1080>;
		touchscreen-size-y = <1920>;
		status = "okay";
	};
};

&i2c4 {
	pinctrl-0 = <&i2c4m2_xfer>;
	status = "okay";

	ti_adc: adc@48 {
		compatible = "ti,ads1015";
		reg = <0x48>;
		#address-cells = <1>;
		#io-channel-cells = <1>;
		#size-cells = <0>;

		channel@4 {
			reg = <4>;
		};

		channel@5 {
			reg = <5>;
		};

		channel@6 {
			reg = <6>;
		};

		channel@7 {
			reg = <7>;
		};
	};

	mpu6500_acc: mpu_acc@68 {
		status = "okay";
		compatible = "mpu6500_acc";
		reg = <0x68>;
		irq-gpio = <&gpio0 RK_PD3 IRQ_TYPE_EDGE_RISING>;
		irq_enable = <0>;
		poll_delay_ms = <30>;
		type = <SENSOR_TYPE_ACCEL>;
		layout = <2>;
		// pinctrl-names = "default";
		// pinctrl-0 = <&mpu_en>;
	};

    mpu6500_gyro: mpu_gyro@68 {
		status = "okay";
		compatible = "mpu6500_gyro";
		reg = <0x68>;
		poll_delay_ms = <30>;
		type = <SENSOR_TYPE_GYROSCOPE>;
		layout = <1>;
	};
};


&i2c5 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c5m3_xfer>;
};

&i2c6 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6m3_xfer>;

	usbc0: fusb302@22 {
		compatible = "fcs,fusb302";
		reg = <0x22>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PC7 IRQ_TYPE_LEVEL_LOW>;
		// int-n-gpios = <&gpio0 RK_PC7 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&usbc0_int>;
		vbus-supply = <&vbus5v0_typec>;
		charge-dev = <&bq25703>;
		status = "okay";
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				usbc0_role_sw: endpoint@0 {
					remote-endpoint = <&dwc3_0_role_switch>;
				};
			};
		};

		usb_con: connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			power-role = "dual";
			try-power-role = "sink";
			op-sink-microwatt = <1000000>;
			sink-pdos =
				<PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)
				 PDO_FIXED(9000, 3000, PDO_FIXED_USB_COMM)
				 PDO_FIXED(12000, 3000, PDO_FIXED_USB_COMM)>;
			source-pdos =
				<PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			altmodes {
				#address-cells = <1>;
				#size-cells = <0>;

				altmode@0 {
					reg = <0>;
					svid = <0xff01>;
					vdo = <0xffffffff>;
				};
			};

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					usbc0_orien_sw: endpoint {
						remote-endpoint = <&usbdp_phy0_orientation_switch>;
					};
				};
				port@1 {
					reg = <1>;
					dp_altmode_mux: endpoint {
						remote-endpoint = <&usbdp_phy0_dp_altmode_mux>;
					};
				};
			};
		};
	};

	hym8563: hym8563@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "hym8563";
		pinctrl-names = "default";
		pinctrl-0 = <&rtc_int>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PB0 IRQ_TYPE_LEVEL_LOW>;
		wakeup-source;
	};

	cw2015@62 {
		status = "okay";
		compatible = "cellwise,cw2015";
		reg = <0x62>;

		cellwise,battery-profile = /bits/ 8
			<0x18 0x0A 0x76 0x6A 0x6A 0x6A 0x68 0x66
			 0x62 0x5E 0x5A 0x58 0x5F 0x59 0x46 0x3D
			 0x35 0x2D 0x28 0x21 0x29 0x38 0x44 0x50
			 0x1A 0x85 0x07 0xAE 0x14 0x28 0x48 0x56
			 0x66 0x66 0x66 0x6A 0x3E 0x1A 0x6C 0x3D
			 0x09 0x38 0x1A 0x49 0x7B 0x96 0xA2 0x15
			 0x3B 0x77 0x9A 0xB1 0x80 0x87 0xB0 0xCB
			 0x2F 0x00 0x64 0xA5 0xB5 0x1C 0xF0 0x49>;
		cellwise,dual-cell = <1>;
		cellwise,monitor-interval-ms = <5000>;
		power-supplies = <&bq25703>;
	};

	bq25703: bq25703@6b {
		status = "okay";
		compatible = "ti,bq25703";
		reg = <0x6b>;
		ti,usb-charger-detection = <&usbc0>;

		interrupt-parent = <&gpio0>;
		//interrupts = <RK_PB7 IRQ_TYPE_LEVEL_LOW>;
		interrupts = <RK_PD5 IRQ_TYPE_EDGE_FALLING>;
		otg-mode-en-gpios = <&gpio4 RK_PA6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&charger_ok>;
		extcon = <&u2phy0>;
		ti,charge-current = <2500000>;
		ti,max-input-voltage = <20000000>;
		ti,max-input-current = <60000000>;
		ti,max-charge-voltage = <8750000>;
		ti,input-current = <10000000>;
		ti,input-current-sdp = <5000000>;
		ti,input-current-dcp = <2500000>;
		ti,input-current-cdp = <2500000>;
		ti,minimum-sys-voltage = <7400000>;
		ti,otg-voltage = <5000000>;
		ti,otg-current = <1500000>;
		pd-charge-only = <0>;
		regulators {
			vbus5v0_typec: vbus5v0-typec {
				regulator-compatible = "otg-vbus";
				regulator-name = "vbus5v0_typec";
			};
		};
	};
};

&i2c7 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c7m0_xfer>;
	es8388: es8388@11 {
		status = "okay";
		#sound-dai-cells = <0>;
		compatible = "everest,es8388", "everest,es8323";
		reg = <0x11>;
		clocks = <&mclkout_i2s0>;
		clock-names = "mclk";
		assigned-clocks = <&mclkout_i2s0>;
		assigned-clock-rates = <12288000>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2s0_mclk>;
	};
};

&i2c8 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c8m2_xfer>;

};
&i2s0_8ch {
	status = "okay";
	//rockchip,clk-trcm = <1>;
	pinctrl-0 = <&i2s0_lrck
		     &i2s0_sclk
		     &i2s0_sdi0
		     &i2s0_sdo0>;
};

&i2s5_8ch {
	status = "okay";
};

&mipi_dcphy0 {
	status = "okay";
};

&mipi_dcphy1 {
	status = "okay";
};

&iep {
	status = "okay";
};

&iep_mmu {
	status = "okay";
};

&jpegd {
	status = "okay";
};

&jpegd_mmu {
	status = "okay";
};

&jpege_ccu {
	status = "okay";
};

&jpege0 {
	status = "okay";
};

&jpege0_mmu {
	status = "okay";
};

&jpege1 {
	status = "okay";
};

&jpege1_mmu {
	status = "okay";
};

&jpege2 {
	status = "okay";
};

&jpege2_mmu {
	status = "okay";
};

&jpege3 {
	status = "okay";
};

&jpege3_mmu {
	status = "okay";
};

&sata0 {
         status = "disabled";
};

&sata2 {
         status = "disabled";
};

&mpp_srv {
	status = "okay";
};

&pdm0 {
	rockchip,path-map = <2 0 1 3>;
	status = "disabled";
};


&pinctrl {

	leds_gpio {
		leds_rgb: leds-rgb {
		        rockchip,pins = <3 RK_PC2 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	charger {
		charger_ok: charger_ok {
			rockchip,pins = <0 RK_PD5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	spk {
		pa_5v_en: pa-5v-en {
			rockchip,pins = <4 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	// hdmi0 {
	// 	hdmi0_en: hdmi0-en {
	// 		rockchip,pins = <4 RK_PB3 RK_FUNC_GPIO &pcfg_pull_down>;
	// 	};
	// };

	headphone {
		hp_det: hp-det {
			rockchip,pins = <3 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	// mpuen {
	// 	mpu_en: mpu_en {
	// 		rockchip,pins = <3 RK_PC3 RK_FUNC_GPIO &pcfg_pull_up>;
	// 	};
	// };

	hym8563 {
		rtc_int: rtc-int {
			rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <3 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	sdmmc {
		sd_s0_pwr: sd-s0-pwr {
			rockchip,pins = <4 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	lcd_bl_en {
		lcd_bl_en: lcd-bl-en {
			rockchip,pins = <3 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	lcd_rst_gpio {
		lcd_rst_gpio: lcd-rst-gpio {
			rockchip,pins = <1 RK_PD5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sensor {
		mpu6500_irq_gpio: mpu6500-irq-gpio {
			rockchip,pins = <1 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		mh248_irq_gpio: mh248-irq-gpio {
			rockchip,pins = <0 RK_PD3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	touch {
		touch_gpio: touch-gpio {
			rockchip,pins =
				<1 RK_PB5 RK_FUNC_GPIO &pcfg_pull_up>,
				<1 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb {
		vcc5v0_host_en: vcc5v0-host-en {
			rockchip,pins = <4 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb-typec {
		usbc0_int: usbc0-int {
			rockchip,pins = <0 RK_PC7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	wireless-bluetooth {
		uart9_gpios: uart9-gpios {
			rockchip,pins = <3 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_reset_gpio: bt-reset-gpio {
			rockchip,pins = <3 RK_PB7 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_wake_gpio: bt-wake-gpio {
			rockchip,pins = <3 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		bt_wake_host_irq: bt-wake-host-irq {
			rockchip,pins = <3 RK_PB0 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	wireless-wlan {
		wifi_host_wake_irq: wifi-host-wake-irq {
			rockchip,pins = <0 RK_PA0 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		wifi_poweren_gpio: wifi-poweren-gpio {
			rockchip,pins = <3 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&pwm12 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm12m1_pins>;
};

&pwm13 {
	pinctrl-0 = <&pwm13m1_pins>;
	status = "okay";
};

&rga3_core0 {
	status = "okay";
};

&rga3_0_mmu {
	status = "okay";
};

&rga3_core1 {
	status = "okay";
};

&rga3_1_mmu {
	status = "okay";
};

&rga2 {
	status = "okay";
};

&rknpu {
	rknpu-supply = <&vdd_npu_s0>;
	mem-supply = <&vdd_npu_mem_s0>;
	status = "disabled";
};

&rknpu_mmu {
	status = "disabled";
};

&rkvdec_ccu {
	status = "okay";
};

&rkvdec0 {
	status = "okay";
};

&rkvdec0_mmu {
	status = "okay";
};

&rkvdec1 {
	status = "okay";
};

&rkvdec1_mmu {
	status = "okay";
};

&vepu {
	status = "okay";
};

&rkvenc_ccu {
	status = "okay";
};

&rkvenc0 {
	venc-supply = <&vdd_vdenc_s0>;
	mem-supply = <&vdd_vdenc_mem_s0>;
	status = "okay";
};

&rkvenc0_mmu {
	status = "okay";
};

&rkvenc1 {
	venc-supply = <&vdd_vdenc_s0>;
	mem-supply = <&vdd_vdenc_mem_s0>;
	status = "okay";
};

&rkvenc1_mmu {
	status = "okay";
};

&rockchip_suspend {
	status = "okay";
	rockchip,sleep-debug-en = <1>;
};

&saradc {
	status = "okay";
	vref-supply = <&vcc_1v8_s0>;
};

&sdhci {
	bus-width = <8>;
	no-sdio;
	no-sd;
	non-removable;
	max-frequency = <200000000>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	status = "okay";
};

&sdio {
	max-frequency = <150000000>;
	no-sd;
	no-mmc;
	bus-width = <4>;
	disable-wp;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&sdiom1_pins>;
	sd-uhs-sdr104;
	status = "okay";
};

&sdmmc {
	max-frequency = <150000000>;
	no-sdio;
	no-mmc;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_3v3_sd_s0>;
	vqmmc-supply = <&vccio_sd_s0>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_bus4 &sdmmc_clk &sdmmc_cmd &sdmmc_det>;
	status = "okay";
};

&tsadc {
	status = "okay";
};

&uart9 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart9m2_xfer &uart9m2_ctsn>;
};

&u2phy0 {
	status = "okay";
};

&u2phy2 {
	status = "okay";
};

&u2phy0_otg {
	rockchip,typec-vbus-det;
	status = "okay";
};

&u2phy2_host {
	status = "okay";
	phy-supply = <&vcc5v0_host>;
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usbdp_phy0 {
	orientation-switch;
	svid = <0xff01>;
	sbu1-dc-gpios = <&gpio4 RK_PA0 GPIO_ACTIVE_HIGH>;
	sbu2-dc-gpios = <&gpio4 RK_PA1 GPIO_ACTIVE_HIGH>;
	status = "okay";
	port {
		#address-cells = <1>;
		#size-cells = <0>;
		usbdp_phy0_orientation_switch: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&usbc0_orien_sw>;
		};

		usbdp_phy0_dp_altmode_mux: endpoint@1 {
			reg = <1>;
			remote-endpoint = <&dp_altmode_mux>;
		};
	};
};

&usbdp_phy0_dp {
	status = "okay";
};

&usbdp_phy0_u3 {
	status = "okay";
};

&usbdrd3_0 {
	status = "okay";
};

&usbdrd_dwc3_0 {
	dr_mode = "otg";
	status = "okay";

	usb-role-switch;
	port {
		#address-cells = <1>;
		#size-cells = <0>;
		dwc3_0_role_switch: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&usbc0_role_sw>;
		};
	};
};

&usbhost3_0 {
	status = "disabled";
};

&usbhost_dwc3_0 {
	status = "disabled";
};

&vdpu {
	status = "okay";
};

&vdpu_mmu {
	status = "okay";
};

&vop {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

/* vp0 & vp1 splice for 8K output */
&vp0 {
	rockchip,plane-mask = <(1 << ROCKCHIP_VOP2_CLUSTER0 | 1 << ROCKCHIP_VOP2_ESMART0)>;
	rockchip,primary-plane = <ROCKCHIP_VOP2_ESMART0>;
};

&vp1 {
	rockchip,plane-mask = <(1 << ROCKCHIP_VOP2_CLUSTER1 | 1 << ROCKCHIP_VOP2_ESMART1)>;
	rockchip,primary-plane = <ROCKCHIP_VOP2_ESMART1>;
};

&vp2 {
	rockchip,plane-mask = <(1 << ROCKCHIP_VOP2_CLUSTER2 | 1 << ROCKCHIP_VOP2_ESMART2)>;
	rockchip,primary-plane = <ROCKCHIP_VOP2_ESMART2>;
};

&vp3 {
	rockchip,plane-mask = <(1 << ROCKCHIP_VOP2_CLUSTER3 | 1 << ROCKCHIP_VOP2_ESMART3)>;
	rockchip,primary-plane = <ROCKCHIP_VOP2_ESMART3>;
};
