image boot.vfat {
	vfat {
		extraargs = "-F 32 -n BATOCERA"
		@files
	}
	size = 6G
}

image userdata.ext4 {
	ext4 {
		label = "SHARE"
		use-mke2fs = "true"
		extraargs = "-m 0"
	}
	size = "512M"
	# include files from TARGET_DIR/userdata
	mountpoint = "/userdata"
}

image batocera.img {
	hdimage {
                partition-table-type = "hybrid"
		align = "1M"
	}

        partition part_idbloader {
            in-partition-table = "no"
            image = "../../uboot-evb-rk3399/idbloader.img"
            offset = 32K
        }

        partition part_uboot {
            in-partition-table = "no"
            image = "../../uboot-evb-rk3399/uboot.img"
            offset = 8M
        }

        partition part_trust {
            in-partition-table = "no"
            image = "../../uboot-evb-rk3399/trust.img"
            offset = 12M
        }

	partition vfat {
		partition-type = 0xC
		image = "boot.vfat"
		offset = 16M
	}

	partition userdata {
		partition-type = 0x83
		image = "userdata.ext4"
	}
}
