image boot.vfat {
	vfat {
		extraargs = "-F 32 -n BATOCERA"
		@files
	}
	size = 6G
}

image userdata.ext4 {
	ext4 {
		label = "SHARE"
		use-mke2fs = "true"
		extraargs = "-m 0"
	}
	size = "512M"
	# include files from TARGET_DIR/userdata
	mountpoint = "/userdata"
}

image batocera.img {
	hdimage {
		align = "1M"
	}

	partition spl {
		in-partition-table = "no"
		image = "../../u-boot-sunxi-with-spl.bin"
		offset = 8192
	}

	partition boot {
		partition-type = 0xC
		bootable = "true"
		image = "boot.vfat"
	}

	partition userdata {
		partition-type = 0x83
		image = "userdata.ext4"
	}
}
