# omxplayer needs pgrep
CONFIG_PGREP=y

# usb mounts
CONFIG_FEATURE_BLKID_TYPE=y
CONFIG_FEATURE_VOLUMEID_BTRFS=y
CONFIG_FEATURE_VOLUMEID_EXFAT=y
CONFIG_FEATURE_VOLUMEID_EXT=y
CONFIG_FEATURE_VOLUMEID_F2FS=y
CONFIG_FEATURE_VOLUMEID_FAT=y
CONFIG_FEATURE_VOLUMEID_ISO9660=y
CONFIG_FEATURE_VOLUMEID_LFS=y
CONFIG_FEATURE_VOLUMEID_LINUXSWAP=y
CONFIG_FEATURE_VOLUMEID_MINIX=y
CONFIG_FEATURE_VOLUMEID_NTFS=y
CONFIG_FEATURE_VOLUMEID_REISERFS=y
CONFIG_FEATURE_VOLUMEID_SQUASHFS=y
CONFIG_FEATURE_VOLUMEID_UBIFS=y
CONFIG_FEATURE_VOLUMEID_XFS=y

# locale
CONFIG_LOCALE_SUPPORT=y

# x86 to mount sd partitions by label
CONFIG_FEATURE_MOUNT_LABEL=y
CONFIG_RDEV=y

CONFIG_STAT=y
CONFIG_MODINFO=y

# timeout commands, such as ping in es
CONFIG_TIMEOUT=y

# for users file transfers
CONFIG_NC=y
CONFIG_NC_SERVER=y

# We use Dash as /bin/sh
CONFIG_SH_IS_NONE=y

# We have actual Bash for interactive scripting
CONFIG_BASH_IS_NONE=y
