body {
    margin: 0px;
}

#infos {
    height: 100%;
    width: 100%;
    background-color: black;
}

#game_name {
    height: 25%;
    color: white;
    font-size: 3.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game_marquee {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game_marquee img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#game_image_horizontal {
    height: 75%;
    width: 60%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game_image_internal_horizontal {
    width: 95%;
    height: 95%;
}

#game_image_internal_horizontal img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#game_description_horizontal {
    width: 40%;
    height: 75%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game_description_internal_horizontal {
    margin-top: 5%;
    width: 90%;
    color: white;
    text-align: justify;
}

#game_image_vertical {
    height: 55%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game_image_internal_vertical {
    width: 95%;
    height: 95%;
}

#game_image_internal_vertical img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#game_description_vertical {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game_description_internal_vertical {
    margin-top: 5%;
    width: 80%;
    color: white;
    text-align: justify;
}

#system_logo {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#system_logo_internal {
    width: 95%;
    height: 95%;
}

#system_logo_internal img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#system_text {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 3.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#system_text_internal {
}
