image boot.vfat {
	vfat {
		extraargs = "-F 32 -n BATOCERA"
		@files
	}
	size = 6G
}

image userdata.ext4 {
	ext4 {
		label = "SHARE"
		use-mke2fs = "true"
		extraargs = "-m 0"
	}
	size = "512M"
	# include files from TARGET_DIR/userdata
	mountpoint = "/userdata"
}

image batocera.img {
	hdimage {
		align = "1M"
		partition-table-type = "gpt"
	}

    partition part_idbloader {
		in-partition-table = "no"
		image = "../../coolpi-4b/u-boot-rockchip.bin"
		offset = 32K
    }

	partition vfat {
		partition-type-uuid = "F"
		image = "boot.vfat"
		offset = 16M
	}

	partition userdata {
		partition-type-uuid = "L"
		image = "userdata.ext4"
	}
}
