image boot.vfat {
        vfat {
			extraargs = "-F 32 -n BATOCERA"
			file boot/linux                { image = 'boot/linux' }
			file boot/batocera             { image = 'boot/batocera' }
			file boot/initrd.gz            { image = 'boot/initrd.gz' }
			file boot/meson-g12b-a311d-khadas-vim3.dtb { image = 'boot/meson-g12b-a311d-khadas-vim3.dtb' }
			file boot/extlinux/extlinux.conf { image = 'boot/extlinux.conf' }
			file batocera-boot.conf          { image = 'batocera-boot.conf' }
			file boot.scr                    { image = 'boot.scr' }
			file boot/logo.bmp               { image = 'boot/logo.bmp' }

			# btrfs_on_windows
			file tools/btrfs_on_windows/readme.txt 	   { image = 'tools/btrfs_on_windows/readme.txt' }
			file tools/btrfs_on_windows/btrfs.inf  	   { image = 'tools/btrfs_on_windows/btrfs.inf' }
			file tools/btrfs_on_windows/btrfs.cat          { image = 'tools/btrfs_on_windows/btrfs.cat' }
			file tools/btrfs_on_windows/x64/mkbtrfs.exe    { image = 'tools/btrfs_on_windows/x64/mkbtrfs.exe' }
			file tools/btrfs_on_windows/x64/shellbtrfs.dll { image = 'tools/btrfs_on_windows/x64/shellbtrfs.dll' }
			file tools/btrfs_on_windows/x64/btrfs.sys      { image = 'tools/btrfs_on_windows/x64/btrfs.sys' }
			file tools/btrfs_on_windows/x64/ubtrfs.dll     { image = 'tools/btrfs_on_windows/x64/ubtrfs.dll' }
			file tools/btrfs_on_windows/x86/mkbtrfs.exe    { image = 'tools/btrfs_on_windows/x86/mkbtrfs.exe' }
			file tools/btrfs_on_windows/x86/shellbtrfs.dll { image = 'tools/btrfs_on_windows/x86/shellbtrfs.dll' }
			file tools/btrfs_on_windows/x86/btrfs.sys      { image = 'tools/btrfs_on_windows/x86/btrfs.sys' }
			file tools/btrfs_on_windows/x86/ubtrfs.dll     { image = 'tools/btrfs_on_windows/x86/ubtrfs.dll' }
		}
		size = 3G
}

image userdata.ext4 {
	ext4 {
		label = "SHARE"
		use-mke2fs = "true"
		extraargs = "-m 0"
	}
	size = "256M"
	# include files from TARGET_DIR/userdata
	mountpoint = "/userdata"
}

image batocera.img {
	hdimage {
		align = "1M"
	}

	partition vfat {
		partition-type = 0xC
		bootable = "true"
		image = "boot.vfat"
		offset = 4M
	}

	partition userdata {
		partition-type = 0x83
		image = "userdata.ext4"
	}
}
