# Disable raw devices to merge them (mouse and keyboard events)
SUBSYSTEM=="input", ACTION=="add", ATTRS{name}=="Props 3D Blamcon Lightgun *",    MODE="0666", ENV{ID_INPUT_MOUSE}="0", ENV{ID_INPUT_KEYBOARD}="0", RUN+="/usr/bin/virtual-blamcon-add"

# Virtual light gun
SUBSYSTEM=="input", ACTION=="add", ATTRS{name}=="Blamcon lightgun", MODE="0666", ENV{ID_INPUT_KEYBOARD}="0", ENV{ID_INPUT_KEY}="0", ENV{ID_INPUT_MOUSE}="1", ENV{ID_INPUT_GUN}="1"
