image boot.vfat {
        vfat {
                extraargs = "-F 32 -n BATOCERA"
                file boot/linux                { image = 'boot/linux' }
                file boot/batocera             { image = 'boot/batocera' }
                file boot/uInitrd              { image = 'boot/uInitrd' }
                file boot/meson-g12b-odroid-n2.dtb { image = 'boot/meson-g12b-odroid-n2.dtb' }
                file boot.ini                  { image = "boot.ini" }
                file batocera-boot.conf        { image = 'batocera-boot.conf' }

                # btrfs_on_windows
                file tools/btrfs_on_windows/readme.txt 	   { image = 'tools/btrfs_on_windows/readme.txt' }
                file tools/btrfs_on_windows/btrfs.inf  	   { image = 'tools/btrfs_on_windows/btrfs.inf' }
                file tools/btrfs_on_windows/btrfs.cat          { image = 'tools/btrfs_on_windows/btrfs.cat' }
                file tools/btrfs_on_windows/x64/mkbtrfs.exe    { image = 'tools/btrfs_on_windows/x64/mkbtrfs.exe' }
                file tools/btrfs_on_windows/x64/shellbtrfs.dll { image = 'tools/btrfs_on_windows/x64/shellbtrfs.dll' }
                file tools/btrfs_on_windows/x64/btrfs.sys      { image = 'tools/btrfs_on_windows/x64/btrfs.sys' }
                file tools/btrfs_on_windows/x64/ubtrfs.dll     { image = 'tools/btrfs_on_windows/x64/ubtrfs.dll' }
                file tools/btrfs_on_windows/x86/mkbtrfs.exe    { image = 'tools/btrfs_on_windows/x86/mkbtrfs.exe' }
                file tools/btrfs_on_windows/x86/shellbtrfs.dll { image = 'tools/btrfs_on_windows/x86/shellbtrfs.dll' }
                file tools/btrfs_on_windows/x86/btrfs.sys      { image = 'tools/btrfs_on_windows/x86/btrfs.sys' }
                file tools/btrfs_on_windows/x86/ubtrfs.dll     { image = 'tools/btrfs_on_windows/x86/ubtrfs.dll' }
        }

        # Setting the size to 1200M exposes the error (from genimage command line):
        # Total number of sectors (2457600) not a multiple of sectors per track (63)!
        #
        # Setting the size to 1201M exposes the error (from genimage command line):
        # Total number of sectors (2459648) not a multiple of sectors per track (63)!
        #
        # Note (1): It seems the error only shows up in Ubuntu 17.04, but not in 16.04
        # Note (2): The error message does not come from genimage nor mtools (likely from a library it links with)
        #
        # 1200M = 1200 x 1024 x 1024 bytes => 2457600 sectors => 512 bytes/sector => 39009.52 tracks
        #
        # So, the closest values to respect the 63 sectors/track constraints are 39009 and 39010:
        # 39009 tracks * 63 sector / track = 2457567 * 512 bytes / sector = 1258274304 bytes (16896 bytes under 1200M)
        # 39010 tracks * 63 sector / track = 2457630 * 512 bytes / sector = 1258306560 bytes (15360 bytes over 1200M)
        #
        # 61765 * 512 * 63 = 1992291840
        # 1992291840 / 1024 / 1024 = 1899 MB
        size = 1992291840
}

image userdata.ext4 {
	ext4 {
		label = "SHARE"
		use-mke2fs = "true"
		extraargs = "-m 0"
	}
	size = "256M"
	# include files from TARGET_DIR/userdata
	mountpoint = "/userdata"
}

image batocera.img {
	hdimage {
		align = "1M"
	}

	partition part_uboot {
		in-partition-table = "no"
		image = "u-boot.bin"
		offset = 512
	}

	partition vfat {
		partition-type = 0xC
		image = "boot.vfat"
		offset = 2M
	}

	partition userdata {
		partition-type = 0x83
		image = "userdata.ext4"
	}
}
