SUBSYSTEM=="input", ATTRS{name}=="adc-joystick", ENV{ID_INPUT_JOYSTICK}="0"
SUBSYSTEM=="input", ATTRS{name}=="adc-keys", ENV{ID_INPUT_JOYSTICK}="0"
SUBSYSTEM=="input", ATTRS{name}=="gpio-keys", ENV{ID_INPUT_JOYSTICK}="0"
SUBSYSTEM=="input", ATTRS{name}=="gpio-keys-control", ENV{ID_INPUT_JOYSTICK}="0"
SUBSYSTEM=="input", ATTRS{name}=="gpio-keys-vol", ENV{ID_INPUT_JOYSTICK}="0"
SUBSYSTEM=="input", ATTRS{name}=="gpio-vibrator", ENV{ID_INPUT_JOYSTICK}="0"
SUBSYSTEM=="input", ATTRS{name}=="pwm-vibrator", ENV{ID_INPUT_JOYSTICK}="0"
