image boot.vfat {
    vfat {
        extraargs = "-F 32 -n BATOCERA"
        @files
    }
    size = 4G
}

image userdata.ext4 {
    ext4 {
        label = "SHARE"
        use-mke2fs = "true"
        extraargs = "-m 0"
    }
    size = "256M"
    # include files from TARGET_DIR/userdata
    mountpoint = "/userdata"
}

image batocera.img {
    hdimage {
        partition-table-type = "gpt"
        align = "1M"
    }

    partition part_uboot {
        in-partition-table = "no"
        image = "../../u-boot-rockchip.bin"
        offset = 32K
    }

    partition vfat {
        bootable = "true"
        image = "boot.vfat"
        offset = 16M
    }

    partition userdata {
        image = "userdata.ext4"
    }
}
