image boot.vfat {
        vfat {
            extraargs = "-F 32 -n BATOCERA"
            file boot/grub/grub.cfg     { image = 'boot/grub/grub.cfg' }
            file boot/linux             { image = 'boot/linux' }
            file boot/initrd.gz         { image = 'boot/initrd.gz' }
            file boot/batocera          { image = 'boot/batocera' }
            file batocera-boot.conf     { image = 'batocera-boot.conf' }
            file EFI/BOOT/bootx64.efi   { image = 'EFI/BOOT/bootx64.efi' }
            file EFI/BOOT/grub.cfg      { image = 'EFI/BOOT/grub.cfg' }
        }

        # Must be a multiple of 63
        # Total number of sectors (2457600) not a multiple of sectors per track (63)!
        #
        # Must be a multiple of 512
        #
        # x * 512 * 63 = 3225600000
        # 3225600000 / 1024 / 1024 / 1024 = 3GB
        size = 3225600000
}

image batocera.img {
        hdimage {
            align = "1M"
            gpt = "true"
        }

        partition boot {
            in-partition-table = "no"
            image = "boot.img"
            offset = 0
            size = 512
        }

        # BIOS/GPT requires a BIOS boot partition to embed grub.img
        partition bios_grub {
            image = "grub.img"
            # set/activate the flag bios_grub
            partition-type-uuid = "21686148-6449-6E6F-744E-656564454649"
        }

        partition vfat {
            partition-type-uuid = "F"
            image = "boot.vfat"
        }
}
