image userdata.ext4 {
        ext4 {
            label = "SHARE"
            use-mke2fs = "true"
            extraargs = "-m 0"
        }
        size = "512M"
        # include files from TARGET_DIR/userdata
        mountpoint = "/userdata"
}

image batocera.img {
        hdimage {
            align = "1M"
            gpt = "true"
        }

        partition boot {
            in-partition-table = "no"
            image = "../../syslinux/gptmbr.bin"
            offset = 0
            size = 440
        }

        partition vfat {
            bootable = "yes"
            partition-type-uuid = "F"
            image = "../boot.vfat"
        }

        partition userdata {
            partition-type-uuid = "L"
            image = "userdata.ext4"
        }
}
