CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_FILE_DIRECT=y
CONFIG_SQUASHFS_DECOMP_MULTI_PERCPU=y
CONFIG_SQUASHFS_XATTR=y
CONFIG_SQUASHFS_ZLIB=y
CONFIG_SQUASHFS_LZ4=y
CONFIG_SQUASHFS_LZO=y
CONFIG_SQUASHFS_XZ=y
CONFIG_SQUASHFS_ZSTD=y
CONFIG_SQUASHFS_FRAGMENT_CACHE_SIZE=3

CONFIG_PHY_QCOM_QMP=y
CONFIG_PHY_QCOM_QMP_UFS=y
CONFIG_SCSI_UFS_QCOM=y

CONFIG_DRM_PANEL_DDIC_CH13726A=m

CONFIG_INPUT_JOYSTICK=y
CONFIG_JOYSTICK_ODIN2=m

CONFIG_TOUCHSCREEN_EDT_FT5X06=m

CONFIG_REGULATOR_QCOM_USB_VBUS=m
CONFIG_CHARGER_QCOM_SMB5=m
CONFIG_BATTERY_QCOM_FG=m

CONFIG_DRM_HDLCD=n
CONFIG_DRM_MALI_DISPLAY=n
CONFIG_DRM_KOMEDA=n
CONFIG_DRM_NOUVEAU=n
CONFIG_DRM_EXYNOS=n
CONFIG_DRM_ROCKCHIP=n
CONFIG_DRM_RCAR_DU=n
CONFIG_DRM_SUN4I=n
CONFIG_DRM_RZG2L_MIPI_DSI=n
CONFIG_DRM_RZG2L_DU=n
CONFIG_DRM_TEGRA=n
