body {
    margin: 0px;
    padding: 0px;
}

#infos {
    height: 100%;
    width: 100%;
    background-color: black;
}

#game_text {
    height: 25%;
    color: white;
    font-size: 3.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game_text_internal {
}

#game_boxart {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game_boxart_internal {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game_boxart_internal img {
    height: 100%;
    width: auto;
    object-fit: contain;
    display: block;
}

#system_logo {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#system_logo_internal {
    width: 95%;
    height: 95%;
}

#system_logo_internal img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#system_text {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 3.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#system_text_internal {
}
