SUBSYSTEM=="input", ATTRS{name}=="keys", MODE="0666", ENV{ID_INPUT_JOYSTICK}="0"
SUBSYSTEM=="input", ATTRS{name}=="WX8 joysticks", MODE="0666", ENV{ID_INPUT_JOYSTICK}="0"
