set default="0"
set timeout="0"

menuentry "Batocera" {
    linux /boot/Image label=BATOCERA rootwait console=ttyMSM0,115200n8 clk_ignore_unused pd_ignore_unused
    initrd /boot/initrd.lz4
    devicetree /boot/qcs8550-ayn-odin2portal.dtb
}

menuentry "Reboot" {
    reboot
}
