[Desktop Entry]
Type=Action
Name=DOS: Toolbox Config
Folders=*/dos*;
Profiles=Batocera

[X-Action-Profile Batocera]
MimeTypes=all/all
Exec=/usr/share/file-manager/actions/toolbox/dos.toolbox --setup-dos-toolboxfonts
