[Desktop Entry]
Type=Action
Name=Create PS4 .zar from .pkg files
Folders=/userdata/roms*;
Basenames=ps4;
Profiles=Batocera
SelectionCount==1

[X-Action-Profile Batocera]
MimeTypes=inode/directory
Exec=bash -c 'python3 /usr/share/file-manager/actions/toolbox/ps4.toolbox "%f" 2>&1 | yad --text-info --wrap --width=900 --height=600 --title="PS4 pkg → zar"'
