[Desktop Entry]
Type=Action
Name=WINE: Squash Game
Folders=*/windows*;
Profiles=Batocera
SelectionCount==1

[X-Action-Profile Batocera]
MimeTypes=inode/directory
Exec=/usr/share/file-manager/actions/toolbox/wine.toolbox --squash-game %d %b
