ACTION!="add|change", GOTO="end"
SUBSYSTEM!="net", GOTO="end"
ENV{INTERFACE}!="eth*", GOTO="end"

TEST=="/sys/class/net/$env{INTERFACE}/device/power/wakeup", RUN+="/bin/sh -c 'echo enabled >/sys/class/net/$env{INTERFACE}/device/power/wakeup'"

ACTION=="add|change", SUBSYSTEM=="net", ENV{INTERFACE}=="eth*", RUN+="/usr/sbin/ethtool -s $env{INTERFACE} wol g"

LABEL="end"
