<?xml version="1.0"?>
<!DOCTYPE settings SYSTEM 'settings.dtd'>
<settings>
  <settings>
    <setting id="renderer">SDLGL-PP</setting>
    <setting id="fullscreen">true</setting>
    <setting id="master_volume">100</setting>
    <setting id="save_settings_on_exit">false</setting>
    <setting id="vsync">true</setting>
  </settings>
</settings>
