[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/azahar.png
Exec=/usr/bin/batocera-config-azahar
Terminal=false
Type=Application
Categories=Game;batocera.linux;
Name=azahar-emu-config
