[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/bigpemu.png
Exec=/usr/bin/batocera-config-bigpemu
Terminal=false
Type=Application
Categories=Game;batocera.linux;
Name=bigpemu-config
