[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/demul.png
Exec=/usr/bin/batocera-config-demul
Terminal=false
Type=Application
Categories=Game;batocera.linux;
Name=demul-config
