[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/dolphin.png
Exec=/usr/share/applications/scripts/batocera-config-dolphin
Terminal=false
Type=Application
Categories=Game;batocera.linux;
Name=dolphin-emu-config
