[Desktop Entry]
Version=1.0
Icon=applications-utilities
Exec=/usr/bin/bauh
Terminal=false
Type=Application
Categories=batocera.linux;
Name=flatpak-config
