[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/fpinball.png
Exec=/usr/bin/batocera-config-fpinball
Terminal=false
Type=Application
Categories=Game;batocera.linux;
Name=fpinball-config
