[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/lemonade.png
Exec=/usr/bin/batocera-config-lemonade
Terminal=false
Type=Application
Categories=Game;batocera.linux;
Name=lemonade-emu-config
