[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/logi-wheel.png
Exec=/usr/bin/batocera-config-logi-wheel
Terminal=false
Type=Application
Categories=System;batocera.linux;
Name=logi-wheel-config
