[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/pcsx2.png
Exec=/usr/bin/batocera-config-pcsx2
Terminal=false
Type=Application
Categories=Game;batocera.linux;
Name=pcsx2-config
