[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/ppsspp.png
Exec=/usr/bin/batocera-config-ppsspp
Terminal=false
Type=Application
Categories=Game;batocera.linux;
Name=ppsspp-emu-config
