[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/retroarch.png
Exec=/usr/share/applications/scripts/batocera-config-retroarch
Terminal=false
Type=Application
Categories=Game;batocera.linux;
Name=retroarch-config