[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/rpcs3.png
Exec=/usr/bin/batocera-config-rpcs3
Terminal=false
Type=Application
Categories=Game;batocera.linux;
Name=rpcs3-config
