[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/suyu.png
Exec=/usr/bin/batocera-config-suyu
Terminal=false
Type=Application
Categories=Game;batocera.linux;
Name=suyu-config
