[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/view-eslog.png
Exec=/usr/bin/view-eslog
Terminal=false
Type=Application
Categories=System;batocera.linux;
Name=1og Viewer
