[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/xwiishowir.png
Exec=xterm -fs 14 -fg white -bg black -fa "Monospace" -e /usr/bin/xwiishowir 1
Terminal=false
Type=Application
Categories=System;batocera.linux;
Name=xwiishowir
