[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/xwiishowir.png
Exec=xterm -e /usr/bin/xwiishowir 1
Terminal=false
Type=Application
Categories=System;batocera.linux;
Name=xwiishowir
