// SPDX-License-Identifier: (GPL-2.0+ or MIT)

/dts-v1/;

#include "sun60iw2p1.dtsi"
#define TYPEC_DP 1
/{
	board = "A733", "A733-CUBIE-A7S-AXP318";
	compatible = "radxa,cubie-a7s", "arm,sun60iw2p1", "allwinner,sun60i-a733";
	aliases {
		arisc-config = &arisc_config;
		pmu0 = &pmu0;
		bat_supply = &bat_power_supply;
		phy_switcher = &phy_switcher;
	};

	reg_usb0_vbus: usb0-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb0-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-enable-ramp-delay = <1000>;
		gpio = <&r_pio PL 2 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_usb1_vbus: usb1-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb1-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-enable-ramp-delay = <1000>;
		gpio = <&r_pio PM 5 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	wifi_power_en: wifi_power_en {
		compatible = "regulator-fixed";
		regulator-name = "wifi_power_en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-enable-ramp-delay = <1000>;
		gpio = <&r_pio PM 0 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
	};

	wifi_chip_en: wifi_chip_en {
		compatible = "regulator-fixed";
		regulator-name = "wifi_chip_en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-enable-ramp-delay = <1000>;
		gpio = <&r_pio PM 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
	};

	eeprom_wp: eeprom-wp {
		compatible = "regulator-fixed";
		regulator-name = "eeprom_wp";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-enable-ramp-delay = <1000>;
		gpio = <&pio PC 7 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
	};

	arisc_config: arisc_config {
		s_uart_config{
			pins = "PL2", "PL3";
			function = <3>, <3>;
			status = "disabled";
		};
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			label = "radxa:green:sys";
			gpios = <&r_pio PM 2 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "default-on";
		};

		led-1 {
			label = "radxa:blue:user";
			gpios = <&pio PJ 26 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};

	fan0: pwm-fan {
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		cooling-levels = <0 50 102 170 255>;
		fan-supply = <&reg_dc1sw1>;
		pwms = <&pwm1 9 25000 0>;
	};

	phy_switcher: phy_switcher@10 {
		compatible = "allwinner,sunxi-phy-switcher";
		reg = <0x0 0x10 0x0 0x0>;
		// hotplug = <&pio PH 4 GPIO_ACTIVE_HIGH>;
		aux_p = <&r_pio PL 10 GPIO_ACTIVE_HIGH>;
		aux_n = <&r_pio PL 11 GPIO_ACTIVE_HIGH>;
		phys = <&combo0_dp>, <&combo0_usb>;
		phy-names = "dp-phy", "usb-phy";
		dp_configure_delay = <20>;
		status = "okay";

		mode-switch;
		orientation-switch;
		svid = <0xff01>;
		port {
			#address-cells = <1>;
			#size-cells = <0>;
			usbdp_orientation_switch: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&usbc2_orien_sw>;
			};
			usbdp_dp_altmode_mux: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&dp_altmode_mux>;
			};
		};
	};
};

&ccu {
	clk-init-gate = <1>;
};

&pio {
	gpio-line-names =
	/* PA */
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	/* PB */
	"PIN_7", "PIN_11", "PIN_29", "PIN_31",
	"PIN_36", "PIN_12", "PIN_35", "PIN_38",
	"PIN_37", "PIN_8", "PIN_10", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	/* PC */
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	/* PD */
	"", "", "", "",
	"", "", "", "",
	"", "", "PIN_24", "PIN_23",
	"PIN_19", "PIN_21", "PIN_26", "",
	"PIN_28", "PIN_27", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	/* PE */
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	/* PF */
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	/* PG */
	"PIN_40", "PIN_41", "PIN_42", "PIN_43",
	"PIN_44", "PIN_45", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	/* PH */
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	/* PI */
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	/* PJ */
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "PIN_5", "PIN_3",
	"PIN_16", "PIN_18", "", "",
	"", "", "", "",
	/* PK */
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "";

	uart0_pins_active: uart0_pins@0 {
		pins = "", "";
		function = "uart0";
		drive-strength = <10>;
	};

	uart0_pins_sleep: uart0_pins@1 {
		pins = "", "";
		function = "gpio_in";
		drive-strength = <10>;
	};

	uart1_pins_active: uart1_pins@0 {
		pins = "PG6", "PG7", "PG8", "PG9";
		function = "uart1";
		drive-strength = <10>;
	};

	uart1_pins_sleep: uart1_pins@1 {
		pins = "PG6", "PG7", "PG8", "PG9";
		function = "io_disabled";
		drive-strength = <10>;
	};

	uart2_pins_active: uart2_pins@0 {
		pins = "PB0", "PB1", "PB2", "PB3";
		function = "uart2";
		drive-strength = <10>;
	};

	uart2_pins_sleep: uart2_pins@1 {
		pins = "PB0", "PB1", "PB2", "PB3";
		function = "io_disabled";
		drive-strength = <10>;
	};

	uart3_pins_active: uart3_pins@0 {
		pins = "PI1", "PI12";
		function = "uart3";
		drive-strength = <10>;
	};

	uart3_pins_sleep: uart3_pins@1 {
		pins = "PI11", "PI12";
		function = "io_disabled";
		drive-strength = <10>;
	};

	uart5_pins_active: uart5_pins@0 {
		pins = "", "";
		function = "uart5";
		drive-strength = <10>;
	};

	uart5_pins_sleep: uart5_pins@1 {
		pins = "", "";
		function = "io_disabled";
		drive-strength = <10>;
	};

	uart6_pins_active: uart6_pins@0 {
		pins = "PI6", "PI7";
		function = "uart6";
		drive-strength = <10>;
	};

	uart6_pins_sleep: uart6_pins@1 {
		pins = "PI6", "PI7";
		function = "io_disabled";
		drive-strength = <10>;
	};

	uart7_pins_active: uart7_pins@0 {
		pins = "PB11", "PB12", "PB13", "PB14";
		function = "uart7";
		drive-strength = <10>;
	};

	uart7_pins_sleep: uart7_pins@1 {
		pins = "PB11", "PB12", "PB13", "PB14";
		function = "io_disabled";
		drive-strength = <10>;
	};

	pwm0_4_pins_active: pwm0@0 {
		pins = "PD22";
		function = "pwm0_4";
		drive-strength = <10>;
	};

	pwm0_4_pins_sleep: pwm0@1 {
		pins = "PD22";
		function = "gpio_in";
		bias-pull-down;
	};

	pwm1_8_pins_active: pwm1@0 {
		pins = "PJ26";
		function = "pwm1_8";
		drive-strength = <10>;
	};

	pwm1_8_pins_sleep: pwm1@1 {
		pins = "PJ26";
		function = "gpio_in";
		bias-pull-down;
	};

	pwm1_9_pins_active: pwm1@0 {
		pins = "PJ27";
		function = "pwm1_9";
		drive-strength = <10>;
	};

	pwm1_9_pins_sleep: pwm1@1 {
		pins = "PJ27";
		function = "gpio_in";
		bias-pull-down;
	};

	pwm1_6_pins_active: pwm6@0 {
		pins = "PI15";
		function = "pwm1_6";
		drive-strength = <10>;
	};

	pwm1_6_pins_sleep: pwm6@1 {
		pins = "PI15";
		function = "gpio_in";
		bias-pull-down;
	};

	twi0_pins_default: twi0@0 {
		pins = "PG8", "PG9";
		function = "twi0";
		drive-strength = <10>;
		bias-pull-up;
	};

	twi0_pins_sleep: twi0@1 {
		pins = "PG8", "PG9";
		function = "gpio_in";
	};

	twi2_pins_default: twi2@0 {
		pins = "PD16", "PD17";
		function = "twi2";
		drive-strength = <10>;
		bias-pull-up;
	};

	twi2_pins_sleep: twi2@1 {
		pins = "PD16", "PD17";
		function = "gpio_in";
	};

	twi5_pins_default: twi5@0 {
		pins = "PI11", "PI12";
		function = "twi5";
		drive-strength = <10>;
		bias-pull-up;
	};

	twi5_pins_sleep: twi5@1 {
		pins = "PI11", "PI12";
		function = "gpio_in";
	};

	twi7_pins_default: twi4@0 {
		pins = "PJ22", "PJ23";
		function = "twi7";
		drive-strength = <10>;
		bias-pull-up;
	};

	twi7_pins_sleep: twi4@1 {
		pins = "PJ22", "PJ23";
		function = "gpio_in";
	};

	twi11_pins_default: twi11@0 {
		pins = "PI4", "PI5";
		function = "twi11";
		drive-strength = <10>;
		bias-pull-up;
	};

	twi11_pins_sleep: twi11@1 {
		pins = "PI4", "PI5";
		function = "gpio_in";
	};

	/* i2s0 pins */
	i2s0_pins_a: i2s0@0 {
		pins = "PB4";
		function = "i2s0_mclk";
		allwinner,drive = <1>;
		bias-disable;
	};

	i2s0_pins_b: i2s0@1 {
		pins = "PB5";
		function = "i2s0_bclk";
		allwinner,drive = <1>;
		bias-disable;
	};

	i2s0_pins_c: i2s0@2 {
		pins = "PB6";
		function = "i2s0_lrck";
		allwinner,drive = <1>;
		bias-disable;
	};

	i2s0_pins_e: i2s0@4 {
		pins = "PB7";
		function = "i2s0_dout0";
		allwinner,drive = <1>;
		bias-pull-down;
	};

	i2s0_pins_d: i2s0@3 {
		pins = "PB8";
		function = "i2s0_din0";
		allwinner,drive = <1>;
		bias-pull-down;
	};

	i2s0_pins_f: i2s0@5 {
		pins = "PB4", "PB5", "PB6", "PB7", "PB8";
		function = "io_disabled";
		allwinner,drive = <1>;
		bias-disable;
	};

	/* i2s1 pins */
	i2s1_pins_a: i2s1@0 {
		pins = "PG10";
		function = "i2s1_mclk";
		allwinner,drive = <1>;
		bias-disable;
	};

	i2s1_pins_b: i2s1@1 {
		pins = "PG11";
		function = "i2s1_bclk";
		allwinner,drive = <1>;
		bias-disable;
	};

	i2s1_pins_c: i2s1@2 {
		pins = "PG12";
		function = "i2s1_lrck";
		allwinner,drive = <1>;
		bias-disable;
	};

	i2s1_pins_d: i2s1@3 {
		pins = "PG13";
		function = "i2s1_din1";
		allwinner,drive = <1>;
		bias-disable;
	};

	i2s1_pins_e: i2s1@4 {
		pins = "PG14";
		function = "i2s1_dout1";
		allwinner,drive = <1>;
		bias-disable;
	};

	i2s1_pins_f: i2s1@5 {
		pins = "PG10", "PG11", "PG12", "PG13", "PG14";
		function = "io_disabled";
		allwinner,drive = <1>;
		bias-disable;
	};

	/* i2s2 pins */
	i2s2_pins_b: i2s2@1 {
		pins = "PH3";
		function = "i2s2_bclk";
		allwinner,drive = <1>;
		bias-disable;
	};

	i2s2_pins_c: i2s2@2 {
		pins = "PH4";
		function = "i2s2_lrck";
		allwinner,drive = <1>;
		bias-disable;
	};

	i2s2_pins_d: i2s2@3 {
		pins = "PH6";
		function = "i2s2_din0";
		allwinner,drive = <1>;
		bias-disable;
	};

	i2s2_pins_e: i2s2@4 {
		pins = "PH5";
		function = "i2s2_dout0";
		allwinner,drive = <1>;
		bias-disable;
	};

	i2s2_pins_f: i2s2@5 {
		pins = "PH3", "PH4", "PH5", "PH6";
		function = "io_disabled";
		allwinner,drive = <1>;
		bias-disable;
	};

	/* i2s4 pins */
	i2s4_pins_a: i2s4@0 {
		pins = "PJ17";
		function = "i2s4_mclk";
		allwinner,drive = <1>;
		bias-disable;
	};

	i2s4_pins_b: i2s4@1 {
		pins = "PJ16";
		function = "i2s4_bclk";
		allwinner,drive = <1>;
		bias-disable;
	};

	i2s4_pins_c: i2s4@2 {
		pins = "PJ18";
		function = "i2s4_lrck";
		allwinner,drive = <1>;
		bias-disable;
	};

	i2s4_pins_d: i2s4@3 {
		pins = "PJ19";
		function = "i2s4_din0";
		allwinner,drive = <1>;
		bias-pull-down;
	};

	i2s4_pins_f: i2s4@5 {
		pins = "PJ16", "PJ17", "PJ18", "PJ19";
		function = "io_disabled";
		allwinner,drive = <1>;
		bias-disable;
	};

	owa_pins_a: owa@0 {
		pins = "PI10";
		function = "owa0";
		allwinner,drive = <1>;
		bias-disable;
	};

	owa_pins_b: owa@1 {
		pins = "PI10";
		function = "io_disabled";
		allwinner,drive = <1>;
		bias-disable;
	};

	gmac0_pins_default: gmac0@0 {
		pins = "PH0", "PH1", "PH2", "PH3", "PH4", "PH5", "PH6", "PH7",
			"PH8", "PH9", "PH10", "PH11", "PH12","PH13", "PH14", "PH15";
		function = "rgmii0";
		allwinner,drive = <1>;
		bias-pull-up;
	};

	gmac0_pins_sleep: gmac0@1 {
		pins = "PH0", "PH1", "PH2", "PH3", "PH4", "PH5", "PH6", "PH7",
			"PH8", "PH9", "PH10", "PH11", "PH12","PH13", "PH14", "PH15";
		function = "io_disabled";
	};

	spi0_pins_default: spi0@0 {
		pins = "PC12", "PC2", "PC4"; /* clk, mosi, miso */
		function = "spi0";
		allwinner,drive = <1>;
		//drive-strength = <20>;
	};

	spi0_pins_cs: spi0@1 {
		pins = "PC3"; /* cs */
		function = "spi0";
		allwinner,drive = <1>;
		//drive-strength = <20>;
		bias-pull-up;
	};

	spi0_pins_sleep: spi0@2 {
		pins = "PC12", "PC2", "PC4", "PC3";
		function = "io_disabled";
	};

	ledc_pins_a: ledc@0 {
		pins = "PE4";
		function = "ledc";
		drive-strength = <10>;
	};

	ledc_pins_b: ledc@1 {
		pins = "PE4";
		function = "gpio_in";
	};
};

&r_pio {
	gpio-line-names =
	/* PL */
	"", "", "", "",
	"", "PIN_22", "PIN_13", "PIN_15",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	/* PM */
	"", "", "", "PIN_32",
	"PIN_33", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	/* PN */
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "",
	"", "", "", "";

	s_twi0_pins_default: s_twi0@0 {
		pins = "PL0", "PL1";
		function = "s_twi0";
		drive-strength = <10>;
		bias-pull-up;
	};

	s_twi0_pins_sleep: s_twi0@1 {
		pins = "PL0", "PL1";
		function = "gpio_in";
	};

	s_twi1_pins_default: s_twi1@0 {
		pins = "PL12", "PL13";
		function = "s_twi1";
		drive-strength = <30>;
		//bias-pull-up;
	};

	s_twi1_pins_sleep: s_twi1@1 {
		pins = "PL12", "PL13";
		function = "gpio_in";
	};

	s_twi2_pins_default: s_twi2@0 {
		pins = "PL4", "PL5";
		function = "s_twi2";
		drive-strength = <10>;
		bias-pull-up;
	};

	s_twi2_pins_sleep: s_twi2@1 {
		pins = "PL4", "PL5";
		function = "gpio_in";
	};

	s_irrx_pins_default: s_irrx@0 {
		pins = "PL4";
		function = "s_ir_rx";
	};

	s_irrx_pins_sleep: s_irrx@1 {
		pins = "PL4";
		function = "gpio_in";
	};

	s_pwm0_7_pins_active:s_pwm0@0 {
		pins = "PL9";
		function = "s_pwm0_7";
		drive-strength = <10>;
	};

	s_pwm0_7_pins_sleep:s_pwm0@1 {
		pins = "PL9";
		function = "gpio_in";
		bias-pull-down;
	};
};

&soc {
	auto_print@54321 {
		reg = <0x0 0x54321 0x0 0x0>;
		device_type = "auto_print";
		status = "okay";
	};

	gpio_leds {
		compatible = "allwinner,sunxi-gpio-leds";
		supply-num = <1>;
		gpio1-supply = <&reg_dcdc1>;
		gpio-pins = <&pio PJ 26 GPIO_ACTIVE_HIGH>;
		pin-names = "standby_led";
		init-status = <GPIO_ACTIVE_HIGH>;
		/* disabled: conflicts with gpio-leds/led-1 heartbeat on PJ 26 */
		status = "disabled";
	};

};

&msgbox {
	status = "disabled";
};

&hwspinlock {
	status = "disabled";
};

&uart0 {
	/* allwinner,uart-v100 is not matched by any compiled driver (AW_UART handles
	 * older sun8i/50i/55i strings; AW_UART_NG not enabled). Add snps,dw-apb-uart
	 * so CONFIG_SERIAL_8250_DW binds and creates /dev/ttyS0. reg-shift=2 and
	 * reg-io-width=4 match earlycon mmio32 — standard for Allwinner 32-bit UARTs. */
	compatible = "allwinner,uart-v100", "snps,dw-apb-uart";
	reg-shift = <2>;
	reg-io-width = <4>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart0_pins_active>;
	pinctrl-1 = <&uart0_pins_sleep>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart2_pins_active>;
	pinctrl-1 = <&uart2_pins_sleep>;
	status = "disabled";
};

&uart3 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart3_pins_active>;
	pinctrl-1 = <&uart3_pins_sleep>;
	status = "disabled";
};

&uart5 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart5_pins_active>;
	pinctrl-1 = <&uart5_pins_sleep>;
	status = "disabled";
};

&uart6 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart6_pins_active>;
	pinctrl-1 = <&uart6_pins_sleep>;
	status = "disabled";
};

&uart7 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart7_pins_active>;
	pinctrl-1 = <&uart7_pins_sleep>;
	status = "disabled";
};

&pwm0_4 {
	pinctrl-names = "active", "sleep";
	pinctrl-0 = <&pwm0_4_pins_active>;
	pinctrl-1 = <&pwm0_4_pins_sleep>;
	status = "okay";
};

&pwm1_6 {
	pinctrl-names = "active", "sleep";
	pinctrl-0 = <&pwm1_6_pins_active>;
	pinctrl-1 = <&pwm1_6_pins_sleep>;
	status = "okay";
};

&pwm1_8 {
	pinctrl-names = "active", "sleep";
	pinctrl-0 = <&pwm1_8_pins_active>;
	pinctrl-1 = <&pwm1_8_pins_sleep>;
	status = "okay";
};

&pwm1_9 {
	pinctrl-names = "active", "sleep";
	pinctrl-0 = <&pwm1_9_pins_active>;
	pinctrl-1 = <&pwm1_9_pins_sleep>;
	status = "okay";
};

&s_pwm0_7 {
	pinctrl-names = "active", "sleep";
	pinctrl-0 = <&s_pwm0_7_pins_active>;
	pinctrl-1 = <&s_pwm0_7_pins_sleep>;
	status = "okay";
};

&soc{

};

/*
 * CPU DVFS OPP tables — voltages from BSP sun60iw2p1-cpu-vf.dtsi vf0000
 * grade (worst-case, safe for all silicon).
 * DCDC5 → LITTLE cluster (cpu0-5), DCDC3 → BIG cluster (cpu6-7).
 */
/ {
	a733_cluster0_opp: cluster0-opp-table-a733 {
		compatible = "operating-points-v2";
		opp-shared;

		opp-408000000  { opp-hz = /bits/ 64 <408000000>;  opp-microvolt = <800000>;  clock-latency-ns = <244144>; };
		opp-720000000  { opp-hz = /bits/ 64 <720000000>;  opp-microvolt = <800000>;  clock-latency-ns = <244144>; };
		opp-1008000000 { opp-hz = /bits/ 64 <1008000000>; opp-microvolt = <800000>;  clock-latency-ns = <244144>; };
		opp-1200000000 { opp-hz = /bits/ 64 <1200000000>; opp-microvolt = <800000>;  clock-latency-ns = <244144>; };
		opp-1416000000 { opp-hz = /bits/ 64 <1416000000>; opp-microvolt = <800000>;  clock-latency-ns = <244144>; };
		opp-1608000000 { opp-hz = /bits/ 64 <1608000000>; opp-microvolt = <900000>;  clock-latency-ns = <244144>; };
		opp-1800000000 { opp-hz = /bits/ 64 <1800000000>; opp-microvolt = <1000000>; clock-latency-ns = <244144>; };
	};

	a733_cluster1_opp: cluster1-opp-table-a733 {
		compatible = "operating-points-v2";
		opp-shared;

		opp-408000000  { opp-hz = /bits/ 64 <408000000>;  opp-microvolt = <800000>; clock-latency-ns = <244144>; };
		opp-720000000  { opp-hz = /bits/ 64 <720000000>;  opp-microvolt = <800000>; clock-latency-ns = <244144>; };
		opp-1008000000 { opp-hz = /bits/ 64 <1008000000>; opp-microvolt = <800000>; clock-latency-ns = <244144>; };
		opp-1200000000 { opp-hz = /bits/ 64 <1200000000>; opp-microvolt = <800000>; clock-latency-ns = <244144>; };
		opp-1512000000 { opp-hz = /bits/ 64 <1512000000>; opp-microvolt = <800000>;  clock-latency-ns = <244144>; };
		opp-1800000000 { opp-hz = /bits/ 64 <1800000000>; opp-microvolt = <950000>;  clock-latency-ns = <244144>; };
		opp-2000000000 { opp-hz = /bits/ 64 <2000000000>; opp-microvolt = <1050000>; clock-latency-ns = <244144>; };
	};
};

/* Point all CPU nodes at the clean OPP tables above */
&cpu0 { operating-points-v2 = <&a733_cluster0_opp>; };
&cpu1 { operating-points-v2 = <&a733_cluster0_opp>; };
&cpu2 { operating-points-v2 = <&a733_cluster0_opp>; };
&cpu3 { operating-points-v2 = <&a733_cluster0_opp>; };
&cpu4 { operating-points-v2 = <&a733_cluster0_opp>; };
&cpu5 { operating-points-v2 = <&a733_cluster0_opp>; };
&cpu6 { operating-points-v2 = <&a733_cluster1_opp>; };
&cpu7 { operating-points-v2 = <&a733_cluster1_opp>; };

&cpul_target {
	temperature = <60000>;
	hysteresis = <2000>;
};

&cpul_threshold{
	type = "active";
	temperature = <60000>;
	hysteresis = <2000>;
};

&cpul_thermal_zone {
	cooling-maps {
		map0 {
			trip = <&cpul_target>;
			cooling-device = <&cpu0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
			contribution = <1024>;
		};

		map1 {
			trip = <&cpul_threshold>;
			cooling-device = <&fan0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
			contribution = <1024>;
		};
	};
};

&cpub_target {
	temperature = <60000>;
	hysteresis = <2000>;
};

&cpub_threshold{
	type = "active";
	temperature = <60000>;
	hysteresis = <2000>;
};

&cpub_thermal_zone {
	cooling-maps {
		map0 {
			trip = <&cpub_target>;
			cooling-device = <&cpu6 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
			contribution = <1024>;
		};

		map1 {
			trip = <&cpub_threshold>;
			cooling-device = <&fan0 2 THERMAL_NO_LIMIT>;
			contribution = <1024>;
		};
	};
};

&sdc2 {
	non-removable;
	bus-width = <8>;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	no-sdio;
	no-sd;
	ctl-spec-caps = <0x328>;
	cap-mmc-highspeed;
	sunxi-power-save-mode;
	sunxi-dis-signal-vol-sw;
	mmc-bootpart-noacc;
	cap-hsq;
	/*cqe-on;*/
	ctl-cmdq-md = <0x2>;
	max-frequency = <200000000>;
	/*vmmc-supply = <&reg_cldo3>;*/
	/*emmc io vol 3.3v*/
	/*vqmmc-supply = <&reg_aldo1>;*/
	/*emmc io vol 1.8v*/
	/*vqmmc-supply = <&reg_cldo1>;*/
	vmmc-supply = <&reg_dc1sw2>;
	vqmmc33sw-supply = <&reg_dc1sw2>;
	vdmmc33sw-supply = <&reg_dc1sw2>;
	vqmmc18sw-supply = <&reg_cldo5>;
	vdmmc18sw-supply = <&reg_cldo5>;
	status = "okay";
};

&sdc1 {
	status = "disabled";
};

&sdc0 {
	bus-width = <4>;
	cd-gpios = <&pio PF 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
	/*non-removable;*/
	/*broken-cd;*/
	/*cd-inverted*/
	/*data3-detect;*/
	/*card-pwr-gpios = <&pio PH 14 1 1 2 0xffffffff>;*/
	cd-used-24M;
	cd-set-debounce = <0x1>;
	cap-sd-highspeed;
	no-1-8-v;
	no-sdio;
	no-mmc;
	sunxi-power-save-mode;
	sunxi-dis-signal-vol-sw;
	max-frequency = <200000000>;
	ctl-spec-caps = <0x428>;
	vmmc-supply = <&reg_dc1sw2>;
	vqmmc33sw-supply = <&reg_dc1sw2>;
	vdmmc33sw-supply = <&reg_dc1sw2>;
	vqmmc18sw-supply = <&reg_cldo5>;
	vdmmc18sw-supply = <&reg_cldo5>;
	status = "okay";
};

&ufs {
	vcc-supply = <&reg_dldo6>;
	vccq-supply = <&reg_dcdc8>;
	vccq2-supply = <&reg_dcdc8>;
	status = "okay";
};

#ifdef TYPEC_DP
// &usbc0 {
// 	usb-role-switch;
// 	port {
// 		#address-cells = <1>;
// 		#size-cells = <0>;
// 		usbc0_role_switch: endpoint@0 {
// 			reg = <0>;
// 			remote-endpoint = <&usbc0_role_sw>;
// 		};
// 	};
// };
#endif

/*
 * usb_port_type: usb mode. 0-device, 1-host, 2-otg.
 * usb_detect_type: usb hotplug detect mode. 0-none, 1-vbus/id detect, 2-pmu detect, 3-tcpm detect.
 * usb_detect_mode: 0-thread scan, 1-id gpio interrupt, 2-pmu notify.
 * usb_id_gpio: gpio for id detect.
 * usb_det_vbus_gpio: gpio for id detect. gpio or "axp_ctrl".
 * usb_wakeup_suspend：0-SUPER_STANDBY, 1-USB_STANDBY.
 */
&usbc0 {
	device_type = "usbc0";
	usb_port_type = <0x0>;
// #ifdef TYPEC_DP
// 	usb_detect_type = <0x3>;
// #else
// 	usb_detect_type = <0x1>;
// #endif
	usb_detect_type = <0x2>;
	usb_detect_mode = <0x2>;
	usb_id_gpio;
	//enable-active-high;
	usb_det_vbus_gpio = "axp_ctrl";
	//enable-active-high;
	detvbus_io-supply = <&reg_cldo1>;
	usb_regulator_io = "nocare";
	usb_wakeup_suspend = <0>;
	usb_luns = <3>;
	usb_serial_unique = <0>;
	usb_serial_number = "20080411";
	rndis_wceis = <1>;
	status = "okay";
};

&udc {
	phy_range = <0x188>;
	status = "okay";
};

&ehci0 {
	phy_range = <0x188>;
	status = "okay";
};

&ohci0 {
	phy_range = <0x188>;
	status = "okay";
};

&usbc1 {
	device_type = "usbc1";
	usb_regulator_io = "nocare";
	usb_wakeup_suspend = <0>;
	status = "okay";
};

&ehci1 {
	phy_range = <0x188>;
	drvvbus-supply = <&reg_usb1_vbus>;
	status = "okay";
};

&ohci1 {
	phy_range = <0x188>;
	drvvbus-supply = <&reg_usb1_vbus>;
	status = "okay";
};

&usbc2 {
	device_type = "usbc2";
	drvvbus-supply = <&reg_usb0_vbus>;
	status = "okay";
};

&xhci2 {
	dr_mode = "otg"; //dr_mode option: host, peripheral, otg
	role-switch-default-mode = "host";
	phy-names = "usb2-phy", "usb3-phy";
	status = "okay";

#ifdef TYPEC_DP
	phys = <&u2phy>, <&combo0_usb>;
	usb-role-switch;
	port {
		#address-cells = <1>;
		#size-cells = <0>;
		dwc3_0_role_switch: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&usbc2_role_sw>;
		};
	};
#else
	phys = <&u2phy>, <&combo1_usb>;
#endif
 };

&u2phy {
	status = "okay";
};

&serdes {
	serdes1v8-supply = <&reg_cldo5>;
	status = "okay";
	combophy0: combo-phy0@6c01000 {
		lane_invert = <1 1 1 1>;
#ifdef TYPEC_DP
		lane_remap = <0 1 2 3>;
#else
		lane_remap = <2 3 0 1>;
#endif
		typec_remap = <2 3 0 1>;
	};
};

&pcie_rc {
	pcie1v8-supply = <&reg_dc1sw1>;
	pcie3v3-supply = <&reg_bldo2>;
	power-gpios =  <&pio PD 20 GPIO_ACTIVE_HIGH>;
	reset-gpios = <&pio PD 22 GPIO_ACTIVE_HIGH>;
	wake-gpios = <&pio PD 21 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&twi0 {
	clock-frequency = <400000>;
	pinctrl-0 = <&twi0_pins_default>;
	pinctrl-1 = <&twi0_pins_sleep>;
	pinctrl-names = "default", "sleep";
	/* For stability and backwards compatibility, we recommend setting ‘twi_drv_used’ to 1 */
	twi_drv_used = <0>;
	no_suspend = <1>;
	twi-supply = <&reg_aldo1>;
	status = "okay";

	eeprom@50 {
		compatible = "atmel,24c16";
		reg = <0x50>;
		//num-addresses = <1>;
		status = "okay";
	};
};

&s_twi0 {
	clock-frequency = <400000>;
	pinctrl-0 = <&s_twi0_pins_default>;
	pinctrl-1 = <&s_twi0_pins_sleep>;
	pinctrl-names = "default", "sleep";
	/* For stability and backwards compatibility, we recommend setting ‘twi_drv_used’ to 1 */
	twi_drv_used = <1>;
	//twi-supply = <&reg_aldo1>;
	no_suspend = <1>;
	status = "okay";

	pmu1: pmu@34 {
		compatible = "x-powers,axp515";
		reg = <0x34>;
		status = "disabled";
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
		interrupt-parent = <&nmi_intc>;
		x-powers,drive-vbus-en;
		pmu_irq_wakeup = <1>;
		pmu_hot_shutdown = <1>;
		pmu_thermal_threshold = <120>;

		wakeup-source;

		powerkey0: powerkey@0 {
			status = "disabled";
			compatible = "x-powers,axp515-pek";
		};

		usb_power_supply: usb_power_supply {
			compatible = "x-powers,axp515-usb-power-supply";
			status = "disabled";

			pmu_usbpc_vol = <4600>;
			pmu_usbpc_cur = <500>;
			pmu_usbad_vol = <4500>;
			pmu_usbad_cur = <2500>;
			pmu_usb_typec_used = <1>;
			wakeup_usb_in;
			wakeup_usb_out;
			wakeup_typec_in;
			wakeup_typec_out;

			det_battery_supply = <&bat_power_supply>;
		};

		bat_power_supply: bat-power-supply {
			compatible = "x-powers,axp515-bat-power-supply";
			status = "disabled";
			pmu_chg_ic_temp = <0>;

			pmu_battery_rdc= <88>;
			pmu_battery_cap = <7085>;
			pmu_runtime_chgcur = <1000>;
			pmu_suspend_chgcur = <1500>;
			pmu_shutdown_chgcur = <1500>;
			pmu_init_chgvol = <4350>;
			pmu_battery_warning_level1 = <15>;
			pmu_battery_warning_level2 = <0>;
			pmu_chgled_func = <0>;
			pmu_chgled_type = <0>;
			pmu_bat_para1 = <0>;
			pmu_bat_para2 = <0>;
			pmu_bat_para3 = <0>;
			pmu_bat_para4 = <0>;
			pmu_bat_para5 = <1>;
			pmu_bat_para6 = <2>;
			pmu_bat_para7 = <2>;
			pmu_bat_para8 = <2>;
			pmu_bat_para9 = <3>;
			pmu_bat_para10 = <7>;
			pmu_bat_para11 = <12>;
			pmu_bat_para12 = <15>;
			pmu_bat_para13 = <20>;
			pmu_bat_para14 = <25>;
			pmu_bat_para15 = <32>;
			pmu_bat_para16 = <37>;
			pmu_bat_para17 = <43>;
			pmu_bat_para18 = <51>;
			pmu_bat_para19 = <57>;
			pmu_bat_para20 = <61>;
			pmu_bat_para21 = <65>;
			pmu_bat_para22 = <70>;
			pmu_bat_para23 = <73>;
			pmu_bat_para24 = <78>;
			pmu_bat_para25 = <81>;
			pmu_bat_para26 = <85>;
			pmu_bat_para27 = <88>;
			pmu_bat_para28 = <92>;
			pmu_bat_para29 = <93>;
			pmu_bat_para30 = <97>;
			pmu_bat_para31 = <100>;
			pmu_bat_para32 = <100>;

			pmu_bat_temp_enable = <1>;
			pmu_jetia_en        = <0>;
			pmu_bat_charge_ltf = <2079>; //-5
			pmu_bat_charge_htf = <180>; //60
			pmu_bat_shutdown_ltf = <2616>; //-10
			pmu_bat_shutdown_htf = <157>; //65
			pmu_jetia_cool = <1664>; //0
			pmu_jetia_warm = <248>; //50
			pmu_jcool_ifall = <1>;//50%
			pmu_jwarm_ifall = <1>;//50%
			pmu_bat_temp_para1 = <5450>; //Murata -25
			pmu_bat_temp_para2 = <3315>; //-15
			pmu_bat_temp_para3 = <2616>; //-10
			pmu_bat_temp_para4 = <2079>; //-5
			pmu_bat_temp_para5 = <1664>;//0
			pmu_bat_temp_para6 = <1340>; //5
			pmu_bat_temp_para7 = <1086>; //10
			pmu_bat_temp_para8 = <727>; //20
			pmu_bat_temp_para9 = <498>; //30
			pmu_bat_temp_para10 = <348>; //40
			pmu_bat_temp_para11 = <293>; //45
			pmu_bat_temp_para12 = <248>; //50
			pmu_bat_temp_para13 = <211>; //55
			pmu_bat_temp_para14 = <180>; //60
			pmu_bat_temp_para15 = <133>; //70
			pmu_bat_temp_para16 = <100>; //80

			wakeup_bat_out;
			wakeup_new_soc;
			/* wakeup_bat_in; */
			/* wakeup_bat_charging; */
			/* wakeup_bat_charge_over; */
			/* wakeup_low_warning1; */
			/* wakeup_low_warning2; */
			wakeup_bat_untemp_chg;
			wakeup_bat_ovtemp_chg;
		};

		regulator1: regulators@1 {
			compatible = "x-powers,axp515-regulator";
			status = "disabled";
			reg_drivevbus: drivevbus {
				regulator-name = "axp515-drivevbus";
				regulator-enable-ramp-delay = <1000>;
			};
		};

		virtual-drivevbus {
			compatible = "xpower-vregulator,drivevbus";
			drivevbus-supply = <&reg_drivevbus>;
		};
	};

	pmu0: pmu@36 {
		compatible = "x-powers,axp8191";
		reg = <0x36>;
		status = "okay";
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
		interrupt-parent = <&nmi_intc>;
		pmu_irq_wakeup = <1>;
		pmu_hot_shutdown = <1>;

		powerkey1: powerkey@1 {
			compatible = "x-powers,axp2101-pek";
			status = "okay";
			pmu_powkey_off_en = <1>;
			pmu_powkey_off_func = <1>;
			pmu_powkey_off_time = <8000>;
			pmu_powkey_long_time = <1500>;
			pmu_powkey_on_time = <1000>;
			wakeup_rising;
			wakeup_falling;
		};

		regulator0: regulators@0 {
			reg_dcdc1: dcdc1 {
				regulator-name = "axp8191-dcdc1";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3800000>;
				regulator-enable-ramp-delay = <1000>;
				regulator-ramp-delay = <250>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_dcdc2: dcdc2 {
				regulator-name = "axp8191-dcdc2";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1540000>;
				regulator-ramp-delay = <250>;
				regulator-enable-ramp-delay = <1000>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_dcdc3: dcdc3 {
				regulator-name = "axp8191-dcdc3";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1540000>;
				regulator-ramp-delay = <250>;
				regulator-enable-ramp-delay = <1000>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_dcdc4: dcdc4 {
				regulator-name = "axp8191-dcdc4";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1540000>;
				regulator-ramp-delay = <250>;
				regulator-enable-ramp-delay = <1000>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_dcdc5: dcdc5 {
				regulator-name = "axp8191-dcdc5";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1540000>;
				regulator-ramp-delay = <250>;
				regulator-enable-ramp-delay = <1000>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_dcdc6: dcdc6 {
				regulator-name = "axp8191-dcdc6";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <2760000>;
				regulator-ramp-delay = <250>;
				regulator-enable-ramp-delay = <1000>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_dcdc7: dcdc7 {
				regulator-name = "axp8191-dcdc7";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1840000>;
				regulator-ramp-delay = <250>;
				regulator-enable-ramp-delay = <1000>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_dcdc8: dcdc8 {
				regulator-name = "axp8191-dcdc8";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-ramp-delay = <250>;
				regulator-enable-ramp-delay = <1000>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_dcdc9: dcdc9 {
				regulator-name = "axp8191-dcdc9";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-ramp-delay = <250>;
				regulator-enable-ramp-delay = <1000>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_rtcldo: rtcldo {
				/* RTC_LDO is a fixed, always-on regulator */
				regulator-name = "axp8191-rtcldo";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_aldo1: aldo1 {
				regulator-name = "axp8191-aldo1";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_aldo2: aldo2 {
				regulator-name = "axp8191-aldo2";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};
			reg_aldo3: aldo3 {
				regulator-name = "axp8191-aldo3";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};
			reg_aldo4: aldo4 {
				regulator-name = "axp8191-aldo4";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};
			reg_aldo5: aldo5 {
				regulator-name = "axp8191-aldo5";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};
			reg_aldo6: aldo6 {
				regulator-name = "axp8191-aldo6";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};
			reg_bldo1: bldo1 {
				regulator-name = "axp8191-bldo1";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_bldo2: bldo2 {
				regulator-name = "axp8191-bldo2";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_bldo3: bldo3 {
				regulator-name = "axp8191-bldo3";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};
			reg_bldo4: bldo4 {
				regulator-name = "axp8191-bldo4";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};
			reg_bldo5: bldo5 {
				regulator-name = "axp8191-bldo5";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_cldo1: cldo1 {
				regulator-name = "axp8191-cldo1";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3500000>;
				regulator-enable-ramp-delay = <1000>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_cldo2: cldo2 {
				regulator-name = "axp8191-cldo2";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3500000>;
				regulator-enable-ramp-delay = <1000>;
			};
			reg_cldo3: cldo3 {
				regulator-name = "axp8191-cldo3";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3500000>;
				regulator-enable-ramp-delay = <1000>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_cldo4: cldo4 {
				regulator-name = "axp8191-cldo4";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3500000>;
				regulator-enable-ramp-delay = <1000>;
			};
			reg_cldo5: cldo5 {
				regulator-name = "axp8191-cldo5";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_dldo1: dldo1 {
				regulator-name = "axp8191-dldo1";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_dldo2: dldo2 {
				regulator-name = "axp8191-dldo2";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};
			reg_dldo3: dldo3 {
				regulator-name = "axp8191-dldo3";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};
			reg_dldo4: dldo4 {
				regulator-name = "axp8191-dldo4";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};
			reg_dldo5: dldo5 {
				regulator-name = "axp8191-dldo5";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};
			reg_dldo6: dldo6 {
				regulator-name = "axp8191-dldo6";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_eldo1: eldo1 {
				regulator-name = "axp8191-eldo1";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_eldo2: eldo2 {
				regulator-name = "axp8191-eldo2";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
				regulator-boot-on;
				regulator-always-on;
			};
			reg_eldo3: eldo3 {
				regulator-name = "axp8191-eldo3";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};
			reg_eldo4: eldo4 {
				regulator-name = "axp8191-eldo4";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};
			reg_eldo5: eldo5 {
				regulator-name = "axp8191-eldo5";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};
			reg_eldo6: eldo6 {
				regulator-name = "axp8191-eldo6";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
				regulator-always-on;
				regulator-boot-on;
			};
			reg_dc1sw1: dc1sw1 {
				regulator-name = "axp8191-dc1sw1";
				swin-supply = <&reg_dcdc1>;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
			reg_dc1sw2: dc1sw2 {
				regulator-name = "axp8191-dc1sw2";
				swin-supply = <&reg_dcdc1>;
				/* add always-on */
				regulator-always-on;
			};
		};

		virtual-dcdc1 {
			compatible = "xpower-vregulator,dcdc1";
			dcdc1-supply = <&reg_dcdc1>;
		};
		virtual-dcdc2 {
			compatible = "xpower-vregulator,dcdc2";
			dcdc2-supply = <&reg_dcdc2>;
		};
		virtual-dcdc3 {
			compatible = "xpower-vregulator,dcdc3";
			dcdc3-supply = <&reg_dcdc3>;
		};
		virtual-dcdc4 {
			compatible = "xpower-vregulator,dcdc4";
			dcdc4-supply = <&reg_dcdc4>;
		};
		virtual-dcdc5 {
			compatible = "xpower-vregulator,dcdc5";
			dcdc5-supply = <&reg_dcdc5>;
		};
		virtual-dcdc6 {
			compatible = "xpower-vregulator,dcdc6";
			dcdc6-supply = <&reg_dcdc6>;
		};
		virtual-dcdc7 {
			compatible = "xpower-vregulator,dcdc7";
			dcdc7-supply = <&reg_dcdc7>;
		};
		virtual-dcdc8 {
			compatible = "xpower-vregulator,dcdc8";
			dcdc8-supply = <&reg_dcdc8>;
		};
		virtual-dcdc9 {
			compatible = "xpower-vregulator,dcdc9";
			dcdc9-supply = <&reg_dcdc9>;
		};
		virtual-rtcldo {
			compatible = "xpower-vregulator,rtcldo";
			rtcldo-supply = <&reg_rtcldo>;
		};
		virtual-aldo1 {
			compatible = "xpower-vregulator,aldo1";
			aldo1-supply = <&reg_aldo1>;
		};
		virtual-aldo2 {
			compatible = "xpower-vregulator,aldo2";
			aldo2-supply = <&reg_aldo2>;
		};
		virtual-aldo3 {
			compatible = "xpower-vregulator,aldo3";
			aldo3-supply = <&reg_aldo3>;
		};
		virtual-aldo4 {
			compatible = "xpower-vregulator,aldo4";
			aldo4-supply = <&reg_aldo4>;
		};
		virtual-aldo5 {
			compatible = "xpower-vregulator,aldo5";
			aldo5-supply = <&reg_aldo5>;
		};
		virtual-aldo6 {
			compatible = "xpower-vregulator,aldo6";
			aldo6-supply = <&reg_aldo6>;
		};
		virtual-dldo1 {
			compatible = "xpower-vregulator,dldo1";
			dldo1-supply = <&reg_dldo1>;
		};
		virtual-dldo2 {
			compatible = "xpower-vregulator,dldo2";
			dldo2-supply = <&reg_dldo2>;
		};
		virtual-dldo3 {
			compatible = "xpower-vregulator,dldo3";
			dldo3-supply = <&reg_dldo3>;
		};
		virtual-dldo4 {
			compatible = "xpower-vregulator,dldo4";
			dldo4-supply = <&reg_dldo4>;
		};
		virtual-dldo5 {
			compatible = "xpower-vregulator,dldo5";
			dldo5-supply = <&reg_dldo5>;
		};
		virtual-dldo6 {
			compatible = "xpower-vregulator,dldo6";
			dldo6-supply = <&reg_dldo6>;
		};
		virtual-eldo1 {
			compatible = "xpower-vregulator,eldo1";
			eldo1-supply = <&reg_eldo1>;
		};
		virtual-eldo2 {
			compatible = "xpower-vregulator,eldo2";
			eldo2-supply = <&reg_eldo2>;
		};
		virtual-eldo3 {
			compatible = "xpower-vregulator,eldo3";
			eldo3-supply = <&reg_eldo3>;
		};
		virtual-eldo4 {
			compatible = "xpower-vregulator,eldo4";
			eldo4-supply = <&reg_eldo4>;
		};
		virtual-eldo5 {
			compatible = "xpower-vregulator,eldo5";
			eldo5-supply = <&reg_eldo5>;
		};
		virtual-eldo6 {
			compatible = "xpower-vregulator,eldo6";
			eldo6-supply = <&reg_eldo6>;
		};
		virtual-dc1sw1 {
			compatible = "xpower-vregulator,dc1sw1";
			dc1sw-supply = <&reg_dc1sw1>;
		};
		virtual-dc1sw2 {
			compatible = "xpower-vregulator,dc1sw2";
			dc1sw-supply = <&reg_dc1sw2>;
		};
	};
};

&s_twi1 {
	clock-frequency = <400000>;
	pinctrl-0 = <&s_twi1_pins_default>;
	pinctrl-1 = <&s_twi1_pins_sleep>;
	pinctrl-names = "default", "sleep";
	/* For stability and backwards compatibility, we recommend setting ‘twi_drv_used’ to 1 */
	twi_drv_used = <1>;
	no_suspend = <1>;
	status = "okay";

	husb311: husb311@4e {
		compatible = "hynetek,husb311";
		reg = <0x4e>;
		interrupt-parent = <&r_pio>;
		interrupts = <PL 3 IRQ_TYPE_LEVEL_LOW>;
		husb311,intr_gpio = <&r_pio PL 3 GPIO_ACTIVE_LOW>;
		vbus-supply = <&reg_usb0_vbus>;
		/* aw,vbus-wakeup-quirk; */
		/* aw,port-reset-quirk; */
		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				usbc2_role_sw: endpoint@0 {
					remote-endpoint = <&dwc3_0_role_switch>;
				};
			};
		};

		usb_con: connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			power-role = "dual";
			try-power-role = "source";
			op-sink-microwatt = <1000000>;
			typec-power-opmode = "default";
			slow-charger-loop;
			source-pdos = < PDO_FIXED(5000, 500, (0x1<<29)|(0x1<<25))
							PDO_VAR(5000, 5000, 1200) >;
			sink-pdos = < PDO_FIXED(5000, 500, (0x1<<29)|(0x1<<25))
						 PDO_VAR(5000, 5000, 2000)
						 /* PDO_VAR(9000, 9000, 2000)
						 PDO_VAR(12000, 12000, 3000)
						 PDO_VAR(15000, 15000, 3000)
						 PDO_VAR(20000, 20000, 2250)*/
						>;
			/* fixme */
			sink-vdos = <0xd1002e99 0x00 0x03110000>;
			sink-vdos-v1 = <0xd1002e99 0x00 0x03110000>;

			altmodes {
				#address-cells = <1>;
				#size-cells = <0>;

				altmode@0 {
					reg = <0>;
					svid = <0xff01>;
					vdo = <0xffffffff>;
				};
			};

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					usbc2_orien_sw: endpoint@0 {
						remote-endpoint = <&usbdp_orientation_switch>;
					};
				};
				port@1 {
					reg = <1>;
					dp_altmode_mux: endpoint@1 {
						remote-endpoint = <&usbdp_dp_altmode_mux>;
					};
				};
			};
		};
	};
};

&de {
	assigned-clock-rates = <600000000>;
	chn_cfg_mode = <2>;
	status = "okay";
};

&vo0 {
	status = "okay";
};

&vo1 {
	status = "okay";
};

&tv0 {
	status = "okay";
};

&tv1 {
	status = "okay";
};

&edp0 {
	#sound-dai-cells = <0>; /* audio driver match method arg */
	compatible = "allwinner,drm-dp";
	phys = <&combo0_dp>, <&aux_hpd_phy>;
	phy-names = "dp-phy", "aux-phy";
	sys = <&vo1>;

	edp_colordepth = <8>; /* 6/8/10/12/16 */
	edp_color_fmt = <0>;
	edp_ssc_en = <0>;
	edp_ssc_mode = <0>;

	edp_lane_rate = <1>;
	edp_lane_cnt = <4>;
	extcon = <&serdes>;

	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		edp_in: port@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			edp0_in_tcon4: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&tcon4_out_edp0>;
			};
		};
		edp_out: port@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};
	};
};

&cpu0 {
	cpu-supply = <&reg_dcdc5>;
};

&dsufreq {
	dsu-supply = <&reg_dcdc5>;
};

&cpu6 {
	cpu-supply = <&reg_dcdc3>;
};

&npu {
	npu-supply = <&reg_dcdc2>;
	status = "okay";
};

&addr_mgt {
	compatible     = "allwinner,sunxi-addr_mgt";
	type_addr_wifi = <0x0>;
	type_addr_bt   = <0x0>;
	type_addr_eth  = <0x0>;
	status         = "okay";
};

&i2s3_plat {
	tdm-num		= <3>;
	tx-pin          = <0 1 2 3>;
	tx-pin0-map0    = <0x76543210>;
	tx-pin0-map1    = <0xFEDCBA98>;
	tx-pin1-map0    = <0x76543210>;
	tx-pin1-map1    = <0xFEDCBA98>;
	tx-pin2-map0    = <0x76543210>;
	tx-pin2-map1    = <0xFEDCBA98>;
	tx-pin3-map0    = <0x76543210>;
	tx-pin3-map1    = <0xFEDCBA98>;
	rx-pin		= <0>;

	tx-hub-en;
	rx-sync-en;
	/* av:  */
	/* av not need dai-type */
	status		= "okay";
};

&i2s3_mach {
	soundcard-mach,format		= "i2s";
	soundcard-mach,frame-master	= <&i2s3_cpu>;
	soundcard-mach,bitclock-master	= <&i2s3_cpu>;
	/* soundcard-mach,frame-inversion; */
	/* soundcard-mach,bitclock-inversion; */
	soundcard-mach,slot-num		= <2>;
	soundcard-mach,slot-width	= <32>;
	soundcard-mach,playback-only;
	soundcard-mach,name = "allwinner-edp";
	status		= "okay";
	i2s3_cpu: soundcard-mach,cpu {
		sound-dai = <&i2s3_plat>;
		/* av: */
		soundcard-mach,pll-fs	= <4>;
		soundcard-mach,mclk-fs	= <512>;
	};
	i2s3_codec: soundcard-mach,codec {
		/* av: */
		sound-dai               = <&edp0>;
	};
};

&gmac0_phy0 {
	compatible = "ethernet-phy-id7b74.4412";
	reset-gpios = <&pio PH 16 GPIO_ACTIVE_LOW>;
};

&gmac0 {
	phy-mode = "rgmii";
	pinctrl-0 = <&gmac0_pins_default>;
	pinctrl-1 = <&gmac0_pins_sleep>;
	pinctrl-names = "default", "sleep";
	aw,soc-phy-clk-en;
	/delete-property/ aw,rgmii-clk-ext;
	tx-delay = <12>;
	rx-delay = <10>;
	dwmac3v3-supply = <&reg_dc1sw2>;
	phy3v3-supply = <&reg_dc1sw1>;
	status = "okay";
};

&lradc {
	key_cnt = <5>;
	key0 = <210 115>;
	key1 = <410 114>;
	key2 = <590 139>;
	key3 = <750 28>;
	key4 = <880 172>;
	status = "okay";
};

&gpadc0 {
	channel_num = <8>;
	channel_select = <0x0f>;
	channel_data_select = <0x0>;
	channel_compare_select = <0x0>;
	channel_cld_select = <0x0>;
	channel_chd_select = <0x0>;
	channel0_compare_lowdata = <1700000>;
	channel0_compare_higdata = <1200000>;
	channel1_compare_lowdata = <460000>;
	channel1_compare_higdata = <1200000>;
	status = "okay";
};

&s_irrx {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&s_irrx_pins_default>;
	pinctrl-1 = <&s_irrx_pins_sleep>;
	status = "okay";
};

&gpu  {
	gpu-supply = <&reg_dcdc4>;
};

&sid {
	sid-supply = <&reg_dldo1>;
	voltage = <1800>;
};

&hdmi0 {
	dcdc2-supply = <&reg_dcdc2>;
	cldo2-supply = <&reg_cldo2>;
	hdmi_power0 = "dcdc2";
	hdmi_power1 = "cldo2";
	hdmi_power_cnt = <2>;
	hdmi_hdcp1x_enable = <1>;
	hdmi_hdcp2x_enable = <1>;
	hdmi_cec_enable = <1>;
	hdmi_clock_source = <0>;
	hdmi_resistor_select = <1>;
	hdmi_ddc_index = <20>;
	priority = <6>;
	snps_phy = <
		 25000 185625 0x0007 0x8160 0x8188
		185625 185625 0x0007 0x8160 0x8198
		185625 340000 0x0004 0x8040 0x8E85
		340000 600000 0x0000 0x80c0 0x82F6>;
	status = "okay";
};

&hdmi_codec {
	extcon = <&hdmi0>;
	status = "okay";
};
