#OneXPlayer
SUBSYSTEM=="input", ATTRS{name}=="ShanWan     Cloud Gamepad", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1"
ACTION=="add", ATTRS{idVendor}=="2563", ATTRS{idProduct}=="058d", RUN+="/sbin/modprobe xpad", RUN+="/bin/bash -c 'echo 2563 058d > /sys/bus/usb/drivers/xpad/new_id'" 
