#!/bin/sh

CONFFILE=multimedia_keys.conf

. /etc/profile.d/xdg.sh
. /etc/profile.d/dbus.sh

# hack for odroidgoa models
BOARD_MODEL=$(cat /sys/firmware/devicetree/base/model 2>/dev/null | sed -e s+"[^A-Za-z0-9]"+""+g)
if test -z "${BOARD_MODEL}"
then
    # give an other chance with dmi
    BOARD_MODEL=$(cat /sys/devices/virtual/dmi/id/board_name 2>/dev/null | sed -e s+"[^A-Za-z0-9]"+""+g)
fi

BOARD_CONFFILE=multimedia_keys_${BOARD_MODEL}.conf
if test -e "/etc/triggerhappy/triggers.d/${BOARD_CONFFILE}"
then
    CONFFILE=${BOARD_CONFFILE}
fi

enabled="$(/usr/bin/batocera-settings-get system.multimediakeys.enabled)"
if [ "$enabled" = "0" ];then
    CONFFILE=multimedia_keys_disabled.conf
fi

# system conf
CONFPATH=/etc/triggerhappy/triggers.d/${CONFFILE}

# custom conf
if test -e "/userdata/system/configs/multimedia_keys.conf"
then
    CONFPATH=/userdata/system/configs/multimedia_keys.conf
fi

DAEMON=/usr/sbin/thd

NAME=${0##*/}
NAME=${NAME#[S][0-9][0-9]}

PIDFILE="/var/run/$NAME.pid"
SOCKETFILE="/var/run/$NAME.socket"
WATCH_DIRS_FILE="/var/run/$NAME.watch-dirs"
WATCH_EVENTS_FILE="/var/run/$NAME.watch-events"

INPUT_DIR="/dev/input"
DAEMON_ARGS="--daemon --triggers ${CONFPATH} --socket ${SOCKETFILE} --pidfile ${PIDFILE} ${INPUT_DIR}/event*"

# Sanity checks
test -x $DAEMON || exit 0

[ -r /etc/default/triggerhappy ] && . /etc/default/triggerhappy

start() {
        printf "Starting $NAME: "

        # Inform the triggerhappy-inotifyrestart service which dirs and events to watch
        echo "$INPUT_DIR" > "$WATCH_DIRS_FILE"
        echo "create" > "$WATCH_EVENTS_FILE"

        start-stop-daemon --start --quiet --pidfile $PIDFILE --exec $DAEMON -- $DAEMON_ARGS \
                && echo "OK" || echo "FAIL"
}

stop() {
        printf "Stopping $NAME: "

        [ -f "$WATCH_DIRS_FILE" ] && rm -f "$WATCH_DIRS_FILE"
        [ -f "$WATCH_EVENTS_FILE" ] && rm -f "$WATCH_EVENTS_FILE"

        start-stop-daemon --stop --quiet --pidfile $PIDFILE \
                && echo "OK" || echo "FAIL"
}

case "$1" in
        start)
                start
                ;;
        stop)
                stop
                ;;
        restart)
                stop
                sleep 1
                start
                ;;
        *)
                echo "Usage: $0 {start|stop|restart}"
                exit 1
esac
