SUBSYSTEM=="input", ACTION=="add", ATTRS{name}=="Nintendo Wii Remote Classic Controller", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1", ENV{ID_INPUT_KEY}="0"

SUBSYSTEM=="input", ACTION=="add", KERNEL=="event*", ATTRS{name}=="Nintendo Wii Remote", MODE="0666", PROGRAM="/usr/bin/virtual-wii-mouse-bar-joystick-status", ENV{ID_INPUT_KEY}="0", ENV{ID_INPUT_JOYSTICK}="%c", RUN+="/usr/bin/virtual-wii-mouse-bar-add"
SUBSYSTEM=="input", ACTION=="add", ATTRS{name}=="Nintendo Wii Remote IR", MODE="0666", ENV{ID_INPUT_JOYSTICK}="0", RUN+="/usr/bin/virtual-wii-mouse-bar-add"
SUBSYSTEM=="input", ACTION=="add", ATTRS{name}=="Nintendo Wii Remote Accelerometer", ENV{ID_INPUT_JOYSTICK}="0", RUN+="/usr/bin/virtual-wii-mouse-bar-add"
SUBSYSTEM=="input", ACTION=="add", ATTRS{name}=="Nintendo Wii Remote Motion Plus", ENV{ID_INPUT_JOYSTICK}="0"

SUBSYSTEM=="input", ACTION=="add",    ATTRS{name}=="Nintendo Wii Remote Nunchuk", MODE="0666", ENV{ID_INPUT_JOYSTICK}="0", RUN+="/usr/bin/virtual-wii-mouse-bar-add"
SUBSYSTEM=="input", ACTION=="remove", ATTRS{name}=="Nintendo Wii Remote Nunchuk",                                          RUN+="/usr/bin/virtual-wii-mouse-bar-add"

SUBSYSTEM=="input", ACTION=="add", KERNEL=="event*", ATTRS{name}=="Wii Gun", MODE="0666", ENV{ID_INPUT_GUN}="0", ENV{ID_INPUT_JOYSTICK}="0", ENV{ID_INPUT_MOUSE}="0", RUN+="/usr/bin/batocera-gun-calibrator-daemon $env{DEVNAME} 260"
SUBSYSTEM=="input", ACTION=="add", KERNEL=="event*", ATTRS{name}=="Wii Zapper", MODE="0666", ENV{ID_INPUT_GUN}="0", ENV{ID_INPUT_JOYSTICK}="0", ENV{ID_INPUT_MOUSE}="0", RUN+="/usr/bin/batocera-gun-calibrator-daemon $env{DEVNAME} 260"
