# required for controllers
CONFIG_INPUT_FF_MEMLESS=m
CONFIG_POWER_SUPPLY=y

# required for evmapy
CONFIG_INPUT_MISC=y
CONFIG_INPUT_UINPUT=y

# required for squashfs + overlayfs
CONFIG_NLS_ISO8859_1=y
CONFIG_OVERLAY_FS=y
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_ZSTD=y

# filesystem support
CONFIG_EXFAT_FS=y
CONFIG_VFAT_FS=y
CONFIG_NTFS3_FS=y
CONFIG_NTFS_FS=n
CONFIG_NTFS_RW=n

# suspend works, but keyboard wakeup doesn't (no powered USB ports)
CONFIG_SUSPEND=n

# no swap, so no hibernation
CONFIG_HIBERNATION=n

